# DOGS ADOPTIONS PROJECT

Import libraries

In [14]:
import regex
import pandas as pd

In [15]:
dogs = pd.read_csv("adoptions/dogs.csv")
dogs.head()

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09

In [8]:
dog_travel = pd.read_csv("adoptions/dogTravel.csv")

In [9]:
dogs['status']

0        adoptable
1        adoptable
2        adoptable
3        adoptable
4        adoptable
           ...
58175    adoptable
58176    adoptable
58177    adoptable
58178    adoptable
58179    adoptable
Name: status, Length: 58180, dtype: object

# 1. Extract all dogs with status that is not adoptable

In [12]:
not_ad_dogs = dogs[dogs['status'] != 'adoptable']
not_ad_dogs['status']

644      2018-04-05T05:18:31+0000
5549     2017-05-26T21:43:16+0000
10888    2019-09-01T15:12:06+0000
11983    2019-08-06T12:15:58+0000
12495    2019-07-18T14:20:58+0000
12600    2019-07-11T20:34:42+0000
12613    2019-07-11T14:16:38+0000
17619    2019-08-10T16:00:35+0000
18611    2019-05-14T21:09:27+0000
19747    2016-12-15T13:33:43+0000
19845    2015-09-07T12:57:27+0000
22161    2018-07-05T00:55:08+0000
22229    2017-10-07T23:48:20+0000
29283    2019-09-07T04:09:12+0000
30471    2019-09-13T19:39:28+0000
31581    2019-04-25T01:56:52+0000
31888    2018-04-18T13:45:46+0000
33000    2019-09-08T18:21:21+0000
33527    2019-07-25T19:53:21+0000
34188    2015-06-29T23:58:09+0000
35065    2015-02-07T13:06:43+0000
44830    2019-09-20T01:50:51+0000
53168    2019-02-18T12:02:48+0000
53539    2013-10-10T13:57:39+0000
55434    2017-06-16T18:44:33+0000
55467    2015-12-25T12:28:30+0000
55915    2019-09-13T06:08:17+0000
55975    2019-09-10T16:43:35+0000
56013    2019-09-09T17:05:17+0000
56248    2019-08-24T16:32:31+0000
56464    2019-07-31T16:21:07+0000
56473    2019-07-29T21:50:16+0000
56541    2019-07-15T16:57:05+0000
Name: status, dtype: object

In [65]:
#dogs[dogs['status'] != 'adoptable'][['status']]

# 2. For each (primary) breed, determine the number of dogs

In [64]:
prim_breed = dogs.groupby(['breed_primary'])['breed_primary'].count()
prim_breed
#prim_breed.rename(columns= {'id':'number_of_dogs'}, inplace=True)
#prim_breed[prim_breed['breed_primary'] == 'Mixed Breed']

breed_primary
Affenpinscher                         17
Afghan Hound                           4
Airedale Terrier                      19
Akbash                                 3
Akita                                181
                                    ...
Wirehaired Pointing Griffon            1
Wirehaired Terrier                    60
Xoloitzcuintli / Mexican Hairless     11
Yellow Labrador Retriever            158
Yorkshire Terrier                    360
Name: breed_primary, Length: 216, dtype: int64

# 3. For each (primary) breed, determine the ratio between the number of dogs of Mixed Breed and those not of Mixed Breed. Hint: look at the secondary_breed

In [95]:
# mixed_for_breed = dogs.groupby(['breed_primary','breed_secondary'], as_index=False).count()
# mixed_for_breed = mixed_for_breed[mixed_for_breed['breed_secondary'] == 'Mixed Breed']
# mixed_for_breed['n_mixed_breed'] = mixed_for_breed['id']
# mixed_for_breed = mixed_for_breed[['breed_primary', 'breed_secondary', 'n_mixed_breed']]
# mixed_for_breed

In [97]:
mixed_for_breed = dogs[dogs['breed_secondary'] == 'Mixed Breed'].groupby('breed_primary', as_index=False).count()
mixed_for_breed['n_mixed'] = mixed_for_breed['id']
mixed_for_breed = mixed_for_breed[['breed_primary', 'n_mixed']]
mixed_for_breed

            breed_primary  n_mixed
0           Affenpinscher        1
1        Airedale Terrier        1
2                   Akita        6
3        Alaskan Malamute        4
4        American Bulldog      106
..                    ...      ...
134       Wheaten Terrier        1
135               Whippet        3
136  Wirehaired Dachshund        1
137    Wirehaired Terrier        4
138     Yorkshire Terrier       15

[139 rows x 2 columns]

In [94]:
not_mixed_for_breed = dogs[dogs['breed_secondary'] != 'Mixed Breed'].groupby('breed_primary', as_index=False).count()
not_mixed_for_breed['n_not_mixed'] = not_mixed_for_breed['id']
not_mixed_for_breed = not_mixed_for_breed[['breed_primary', 'n_not_mixed']]
not_mixed_for_breed

                         breed_primary  n_not_mixed
0                        Affenpinscher           16
1                         Afghan Hound            4
2                     Airedale Terrier           18
3                               Akbash            3
4                                Akita          175
..                                 ...          ...
210        Wirehaired Pointing Griffon            1
211                 Wirehaired Terrier           56
212  Xoloitzcuintli / Mexican Hairless           11
213          Yellow Labrador Retriever          158
214                  Yorkshire Terrier          345

[215 rows x 2 columns]

In [93]:
not_mixed_for_breed = dogs.groupby(['breed_primary','breed_secondary'], as_index=False).count()
mixed_for_breed = mixed_for_breed[mixed_for_breed['breed_secondary'] != 'Mixed Breed']
mixed_for_breed.groupby(['breed_secondary'])[['n_mixed_breed']].sum()
mixed_for_breed['n_mixed_breed'] = mixed_for_breed['id']
#mixed_for_breed = mixed_for_breed[['breed_primary', 'breed_secondary', 'n_mixed_breed']]
#mixed_for_breed

In [69]:
dogs_no_sec_null = dogs.dropna(subset=['breed_secondary'])
dogs_no_sec_null

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
5,46039304,NV184,https://www.petfinder.com/dog/oliver-46039304/...,Dog,Dog,Boxer,Beagle,True,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Oliver was born around mid-June and came to us...,70,97.77
6,46039303,NV184,https://www.petfinder.com/dog/macadamia-460393...,Dog,Dog,Italian Greyhound,Chihuahua,True,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Macadamia was born around July 8th and donÃ¢Â€Â™t...,80,103.53
10,46038708,NV184,https://www.petfinder.com/dog/speckles-4603870...,Dog,Dog,Cattle Dog,Hound,True,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Speckles is a 4 month old Heeler/Hound mix who...,84,320.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58173,44629286,WY04,https://www.petfinder.com/dog/suzi-44629286/wy...,Dog,Dog,Labrador Retriever,Hound,True,False,Brown / Chocolate,...,Worland,WY,82401,US,WY,2019-09-20,Dog,NaN,61,167.10
58174,44629272,WY04,https://www.petfinder.com/dog/cheyenne-4462927...,Dog,Dog,Shepherd,Australian Cattle Dog / Blue Heeler,True,False,Brown / Chocolate,...,Worland,WY,82401,US,WY,2019-09-20,Dog,NaN,97,242.85
58176,44457061,WY24,https://www.petfinder.com/dog/harley-44457061/...,Dog,Dog,Australian Shepherd,Australian Cattle Dog / Blue Heeler,True,False,NaN,...,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN,65,245.90
58178,42734734,WY24,https://www.petfinder.com/dog/simon-42734734/w...,Dog,Dog,Boxer,Mixed Breed,True,False,NaN,...,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN,58,61.05
58179,42663515,WY24,https://www.petfinder.com/dog/romeo-42663515/w...,Dog,Dog,Labrador Retriever,Pit Bull Terrier,True,False,NaN,...,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN,100,255.38

In [ ]:
for breed in prim_breed:


# 4. For each (primary) breed, determine the earliest and the latest posted timestamp.

In [13]:
pd.to_datetime(dogs['posted'])

ParserError: Unknown string format: Las Vegas present at position 644