# DOGS ADOPTIONS PROJECT

Import libraries

In [27]:
import re
import pandas as pd
import numpy as np

In [28]:
import warnings
warnings.filterwarnings("ignore")

In [29]:
pd.set_option('display.max_colwidth', 50)
pd.options.display.max_columns = 40
pd.options.display.max_rows = 700

In [30]:
dogs = pd.read_csv("adoptions/dogs.csv")

In [31]:
dog_travel = pd.read_csv("adoptions/dogTravel.csv")

In [32]:
NST_EST = pd.read_csv("adoptions/NST-EST2021-POP.csv", header=None)
NST_EST.columns = ['state', 'population']

In [33]:
states = pd.read_csv("adoptions/states.csv", sep=';', header=None)
states.columns = ['state', 'abbreviation']
states.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [34]:
NST_EST['population'] = NST_EST['population'].str.replace('.', '').astype(int)

Cleaning 'name' column

In [35]:
names_and_desc = dogs[dogs['status'] != 'adoptable']['name']
dirty_names = []
for name_desc in names_and_desc:
    dirty_names.append(name_desc.split(sep=",")[0])
dirty_names

['Gunther :Gunny\\"',
 'ANNABELLE \\ANNIE\\"',
 'PEPPER \\Courtesy listing\\"',
 'COOPER \\courtesy listing\\"',
 'DAISY \\courtesy listing\\"',
 'Elmo \\MoMo\\"',
 'Bianca \\Pinky\\"',
 '\\Baby Girl\\"',
 'King Bert \\Bertie\\"',
 'Maddie \\Cutie Patootie!\\"',
 'Bucky \\Are u my hooman?\\"',
 'CHLOE \\LITTLE RASCAL\\"',
 'COZI H WILSON \\loves children',
 'Gibson Edgar \\Gibbs\\"',
 'PUPPIES \\Berries\\"',
 'Leila \\COURTESY POST\\"',
 'Eden \\In Training\\"',
 'Coach Chris \\Mack\\"',
 'Liberty \\Libby\\"',
 'Samson \\Sam\\"',
 'Sully \\Sullivan\\"',
 'PERIWINKLE \\WINK\\"',
 'Raymond \\Reddington\\"',
 'Norma Rose \\ROSIE\\"',
 'Markey \\Moose\\"',
 'George \\Boy George\\"',
 '\\Skipper\\"',
 '\\Bella\\"',
 '\\Cody\\"',
 '\\Gracie\\"',
 '\\Jameson\\"',
 '\\Canelo\\"',
 '\\Noni\\"']

In [36]:
nomi = []
for name in dirty_names:
    match = re.split(r'[:\\]', name)
    if match[0] == '':
        nomi.append(match[1].strip())
    else:
        nomi.append(match[0].strip())
dogs_clean = dogs.copy(deep=True)

# pos = dogs_clean[dogs_clean['status'] != 'adoptable'].index
# dogs_clean.iloc[pos]['name'] = nomi

dogs_clean.loc[dogs_clean['status'] != 'adoptable', 'name'] = nomi

In [37]:
 dogs_clean[dogs_clean['status'] != 'adoptable']['name']

644            Gunther
5549         ANNABELLE
10888           PEPPER
11983           COOPER
12495            DAISY
12600             Elmo
12613           Bianca
17619        Baby Girl
18611        King Bert
19747           Maddie
19845            Bucky
22161            CHLOE
22229    COZI H WILSON
29283     Gibson Edgar
30471          PUPPIES
31581            Leila
31888             Eden
33000      Coach Chris
33527          Liberty
34188           Samson
35065            Sully
44830       PERIWINKLE
53168          Raymond
53539       Norma Rose
55434           Markey
55467           George
55915          Skipper
55975            Bella
56013             Cody
56248           Gracie
56464          Jameson
56473           Canelo
56541             Noni
Name: name, dtype: object

In [38]:
#dogs_clean.loc[dogs_clean[dogs_clean['status'] != 'adoptable'], ['status':'accessed']] = dogs_clean.loc[dogs_clean[dogs_clean['status'] != 'adoptable'], ['status':'accessed']].shift(1,axis=1)

dogs_clean.loc[dogs_clean['status'] != 'adoptable','status':'accessed'] = dogs_clean.loc[dogs_clean['status'] != 'adoptable','status':'accessed'].shift(1, axis=1)
dogs_clean.loc[dogs_clean['status'] != 'adoptable','status':'accessed']

,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed
644,None,2018-04-05T05:18:31+0000,Las Vegas,NV,89146,US,89009,2019-09-20
5549,None,2017-05-26T21:43:16+0000,Chandler,AZ,85249,US,AZ,2019-09-20
10888,None,2019-09-01T15:12:06+0000,Albany,NY,12220,US,CT,2019-09-20
11983,None,2019-08-06T12:15:58+0000,Albany,NY,12220,US,CT,2019-09-20
12495,None,2019-07-18T14:20:58+0000,Albany,NY,12220,US,CT,2019-09-20
12600,None,2019-07-11T20:34:42+0000,Saugerties,NY,12477,US,CT,2019-09-20
12613,None,2019-07-11T14:16:38+0000,Saugerties,NY,12477,US,CT,2019-09-20
17619,None,2019-08-10T16:00:35+0000,Bristow,VA,20136,US,DC,2019-09-20
18611,None,2019-05-14T21:09:27+0000,Silver Spring,MD,20905,US,DC,2019-09-20
19747,None,2016-12-15T13:33:43+0000,Gettysburg,PA,17325,US,DC,2019-09-20
19845,None,2015-09-07T12:57:27+0000,Gettysburg,PA,17325,US,DC,2019-09-20
22161,None,2018-07-05T00:55:08+0000,Media,PA,19063,US,DE,2019-09-20
22229,None,2017-10-07T23:48:20+0000,Feasterville,PA,19053,US,DE,2019-09-20
29283,None,2019-09-07T04:09:12+0000,Paris,IL,61944,US,IL,2019-09-20
30471,None,2019-09-13T19:39:28+0000,Mooresville,IN,46158,US,IN,2019-09-20
31581,None,2019-04-25T01:56:52+0000,Ross,OH,45061,US,IN,2019-09-20
31888,None,2018-04-18T13:45:46+0000,Ross,OH,45061,US,IN,2019-09-20
33000,None,2019-09-08T18:21:21+0000,Jeffersonville,IN,47131,US,KY,2019-09-20
33527,None,2019-07-25T19:53:21+0000,Cincinnati,OH,45249,US,KY,2019-09-20
34188,None,2015-06-29T23:58:09+0000,Paoli,IN,47454,US,KY,2019-09-20
35065,None,2015-02-07T13:06:43+0000,lake charles,LA,70601,US,LA,2019-09-20
44830,None,2019-09-20T01:50:51+0000,Albuquerque,NM,87108,US,NM,2019-09-20
53168,None,2019-02-18T12:02:48+0000,Cookeville,TN,38506,US,TN,2019-09-20
53539,None,2013-10-10T13:57:39+0000,Nashville,TN,37189,US,TN,2019-09-20
55434,None,2017-06-16T18:44:33+0000,Rustburg,VA,24588,US,VA,2019-09-20
55467,None,2015-12-25T12:28:30+0000,Midlothian,VA,23112,US,VA,2019-09-20
55915,None,2019-09-13T06:08:17+0000,Seattle,WA,98106,US,WA,2019-09-20
55975,None,2019-09-10T16:43:35+0000,Seattle,WA,98106,US,WA,2019-09-20
56013,None,2019-09-09T17:05:17+0000,Seattle,WA,98106,US,WA,2019-09-20
56248,None,2019-08-24T16:32:31+0000,Seattle,WA,98106,US,WA,2019-09-20
56464,None,2019-07-31T16:21:07+0000,Seattle,WA,98106,US,WA,2019-09-20
56473,None,2019-07-29T21:50:16+0000,Seattle,WA,98106,US,WA,2019-09-20
56541,None,2019-07-15T16:57:05+0000,Seattle,WA,98106,US,WA,2019-09-20

In [39]:
dogs_clean.loc[17610:17630,'status':'accessed']

,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed
17610,adoptable,2019-08-10T22:33:34+0000,Chambersburg,PA,17201,US,DC,2019-09-20
17611,adoptable,2019-08-10T20:56:53+0000,Pennsville,NJ,08070,US,DC,2019-09-20
17612,adoptable,2019-08-10T19:50:26+0000,Hagerstown,MD,21740,US,DC,2019-09-20
17613,adoptable,2019-08-10T19:49:23+0000,Springfield,VA,22153,US,DC,2019-09-20
17614,adoptable,2019-08-10T19:31:25+0000,Hagerstown,MD,21740,US,DC,2019-09-20
17615,adoptable,2019-08-10T17:47:16+0000,Paw Paw,WV,25434,US,DC,2019-09-20
17616,adoptable,2019-08-10T16:46:30+0000,Bristow,VA,20136,US,DC,2019-09-20
17617,adoptable,2019-08-10T16:21:20+0000,Baltimore,MD,21224,US,DC,2019-09-20
17618,adoptable,2019-08-10T16:08:13+0000,Baltimore,MD,21224,US,DC,2019-09-20
17619,None,2019-08-10T16:00:35+0000,Bristow,VA,20136,US,DC,2019-09-20
17620,adoptable,2019-08-10T15:47:38+0000,Newville,PA,17241,US,DC,2019-09-20
17621,adoptable,2019-08-10T15:17:25+0000,Bristow,VA,20136,US,DC,2019-09-20
17622,adoptable,2019-08-10T14:50:35+0000,Fredericksburg,VA,22408,US,DC,2019-09-20
17623,adoptable,2019-08-10T14:42:47+0000,Fredericksburg,VA,22408,US,DC,2019-09-20
17624,adoptable,2019-08-10T14:05:27+0000,Richmond,VA,23228,US,DC,2019-09-20
17625,adoptable,2019-08-10T14:02:54+0000,Richmond,VA,23228,US,DC,2019-09-20
17626,adoptable,2019-08-10T13:18:21+0000,Westminster,MD,21158,US,DC,2019-09-20
17627,adoptable,2019-08-10T13:18:20+0000,Westminster,MD,21158,US,DC,2019-09-20
17628,adoptable,2019-08-10T13:06:43+0000,Delaplane,VA,20144,US,DC,2019-09-20
17629,adoptable,2019-08-10T13:06:43+0000,Delaplane,VA,20144,US,DC,2019-09-20
17630,adoptable,2019-08-10T13:06:43+0000,Delaplane,VA,20144,US,DC,2019-09-20

# 1. Extract all dogs with status that is not adoptable

Dataset before cleaning

In [44]:
dogs[dogs['status'] != 'adoptable'][['id', 'name', 'status']]

,id,name,status
644,41330726,"Gunther :Gunny\"",Meet handsome 3 year old Gunt...",2018-04-05T05:18:31+0000
5549,38169117,"ANNABELLE \ANNIE\"",""You can fill out an adopti...",2017-05-26T21:43:16+0000
10888,45833989,"PEPPER \Courtesy listing\"",""This is Pepper. He...",2019-09-01T15:12:06+0000
11983,45515547,"COOPER \courtesy listing\"",""Cooper is 13 years...",2019-08-06T12:15:58+0000
12495,45294115,"DAISY \courtesy listing\"",""•Basset Hound, fema...",2019-07-18T14:20:58+0000
12600,45229004,"Elmo \MoMo\"",""Hello i&#039;m MoMo or Elmo , 7 ...",2019-07-11T20:34:42+0000
12613,45227052,"Bianca \Pinky\"",""Hello I&#039;m Bianca, a fema...",2019-07-11T14:16:38+0000
17619,45569380,"\Baby Girl\"",""This 10-year young senior is ver...",2019-08-10T16:00:35+0000
18611,44694387,"King Bert \Bertie\"",""&quot;Bertie&quot; came t...",2019-05-14T21:09:27+0000
19747,36978896,"Maddie \Cutie Patootie!\"",""Maddie is our littl...",2016-12-15T13:33:43+0000
19845,33218331,"Bucky \Are u my hooman?\"",""Born in August 2014...",2015-09-07T12:57:27+0000
22161,42092005,"CHLOE \LITTLE RASCAL\"",""Meet Chloe our &quot;L...",2018-07-05T00:55:08+0000
22229,39594038,"COZI H WILSON \loves children, cuddlebug\"",""01...",2017-10-07T23:48:20+0000
29283,45895274,"Gibson Edgar \Gibbs\"",""Gibson Edgar is a 12 mo...",2019-09-07T04:09:12+0000
30471,45964719,"PUPPIES \Berries\"",""11 Berry Pups\nIndividual ...",2019-09-13T19:39:28+0000
31581,44538917,"Leila \COURTESY POST\"",""THIS IS A COURTESY POS...",2019-04-25T01:56:52+0000
31888,41430442,"Eden \In Training\"",""Eden is estimated 3 years...",2018-04-18T13:45:46+0000
33000,45907639,"Coach Chris \Mack\"",""Mack is a 2 year old, 13 ...",2019-09-08T18:21:21+0000
33527,45362806,"Liberty \Libby\"",""Liberty came to us on the 3r...",2019-07-25T19:53:21+0000
34188,32590894,"Samson \Sam\"",""DUE TO PROBLEMS WITH THE CURREN...",2015-06-29T23:58:09+0000
35065,31426754,"Sully \Sullivan\"",""Hi my name is Sully! I get ...",2015-02-07T13:06:43+0000
44830,46037827,"PERIWINKLE \WINK\"",""We take the time to post p...",2019-09-20T01:50:51+0000
53168,44044071,"Raymond \Reddington\"",""Red is a 4-5 yr old St...",2019-02-18T12:02:48+0000
53539,27521132,"Norma Rose \ROSIE\"",""Robyn&#039;s Nest Animal ...",2013-10-10T13:57:39+0000
55434,38473806,"Markey \Moose\"",""Markey &quot;Moose&quot; firs...",2017-06-16T18:44:33+0000
55467,34101432,"George \Boy George\"",""Contact dojennings@Comca...",2015-12-25T12:28:30+0000
55915,45958435,"\Skipper\"",""For a quicker response please subm...",2019-09-13T06:08:17+0000
55975,45927580,"\Bella\"",""Meet &quot;Bella&quot; She is a ador...",2019-09-10T16:43:35+0000
56013,45916348,"\Cody\"",""*Please apply online at www.6dogrees....",2019-09-09T17:05:17+0000
56248,45733027,"\Gracie\"",""Meet &quot;Gracie&quot; a very beau...",2019-08-24T16:32:31+0000
56464,45413997,"\Jameson\"",""Meet &quot;Jameson&quot; He is a v...",2019-07-31T16:21:07+0000
56473,45406516,"\Canelo\"",""Meet Canelo a adorable small, tan...",2019-07-29T21:50:16+0000
56541,45264615,"\Noni\"",""Meet &quot;Noni&quot; She is a Black ...",2019-07-15T16:57:05+0000

Cleaned dataset

In [42]:
not_ad_dogs = dogs_clean[dogs_clean['status'] != 'adoptable'][['id', 'name', 'status']]
not_ad_dogs

             id           name status
644    41330726        Gunther   None
5549   38169117      ANNABELLE   None
10888  45833989         PEPPER   None
11983  45515547         COOPER   None
12495  45294115          DAISY   None
12600  45229004           Elmo   None
12613  45227052         Bianca   None
17619  45569380      Baby Girl   None
18611  44694387      King Bert   None
19747  36978896         Maddie   None
19845  33218331          Bucky   None
22161  42092005          CHLOE   None
22229  39594038  COZI H WILSON   None
29283  45895274   Gibson Edgar   None
30471  45964719        PUPPIES   None
31581  44538917          Leila   None
31888  41430442           Eden   None
33000  45907639    Coach Chris   None
33527  45362806        Liberty   None
34188  32590894         Samson   None
35065  31426754          Sully   None
44830  46037827     PERIWINKLE   None
53168  44044071        Raymond   None
53539  27521132     Norma Rose   None
55434  38473806         Markey   None
55467  34101432         George   None
55915  45958435        Skipper   None
55975  45927580          Bella   None
56013  45916348           Cody   None
56248  45733027         Gracie   None
56464  45413997        Jameson   None
56473  45406516         Canelo   None
56541  45264615           Noni   None

In [43]:
dogs[dogs['status'] != 'adoptable'][['status']]

                         status
644    2018-04-05T05:18:31+0000
5549   2017-05-26T21:43:16+0000
10888  2019-09-01T15:12:06+0000
11983  2019-08-06T12:15:58+0000
12495  2019-07-18T14:20:58+0000
12600  2019-07-11T20:34:42+0000
12613  2019-07-11T14:16:38+0000
17619  2019-08-10T16:00:35+0000
18611  2019-05-14T21:09:27+0000
19747  2016-12-15T13:33:43+0000
19845  2015-09-07T12:57:27+0000
22161  2018-07-05T00:55:08+0000
22229  2017-10-07T23:48:20+0000
29283  2019-09-07T04:09:12+0000
30471  2019-09-13T19:39:28+0000
31581  2019-04-25T01:56:52+0000
31888  2018-04-18T13:45:46+0000
33000  2019-09-08T18:21:21+0000
33527  2019-07-25T19:53:21+0000
34188  2015-06-29T23:58:09+0000
35065  2015-02-07T13:06:43+0000
44830  2019-09-20T01:50:51+0000
53168  2019-02-18T12:02:48+0000
53539  2013-10-10T13:57:39+0000
55434  2017-06-16T18:44:33+0000
55467  2015-12-25T12:28:30+0000
55915  2019-09-13T06:08:17+0000
55975  2019-09-10T16:43:35+0000
56013  2019-09-09T17:05:17+0000
56248  2019-08-24T16:32:31+0000
56464  2019-07-31T16:21:07+0000
56473  2019-07-29T21:50:16+0000
56541  2019-07-15T16:57:05+0000

# 2. For each (primary) breed, determine the number of dogs

In [50]:
#prim_breed = dogs_clean.groupby(['breed_primary'])[['breed_primary']].count()#.reset_index()
#prim_breed
breed_counts = dogs.groupby('breed_primary').count()[['id']].rename(columns={'id':'counts'}).reset_index()[['breed_primary','counts']]
breed_counts

                                breed_primary  counts
0                               Affenpinscher      17
1                                Afghan Hound       4
2                            Airedale Terrier      19
3                                      Akbash       3
4                                       Akita     181
5                            Alaskan Malamute      72
6                            American Bulldog    1134
7                         American Eskimo Dog      43
8                           American Foxhound      17
9                   American Hairless Terrier       4
10             American Staffordshire Terrier    1862
11                         Anatolian Shepherd     118
12        Australian Cattle Dog / Blue Heeler     973
13                          Australian Kelpie      43
14                        Australian Shepherd     696
15                         Australian Terrier      15
16                                    Basenji      54
17                               Basset Hound     241
18                                     Beagle    1539
19                             Bearded Collie       6
20                                  Beauceron       4
21               Belgian Shepherd / Laekenois       1
22                Belgian Shepherd / Malinois      94
23                Belgian Shepherd / Sheepdog       3
24                Belgian Shepherd / Tervuren       2
25                       Bernese Mountain Dog      20
26                               Bichon Frise      82
27                   Black Labrador Retriever     545
28                            Black Mouth Cur     201
29                    Black and Tan Coonhound      88
30                                 Bloodhound      54
31                                  Blue Lacy      13
32                         Bluetick Coonhound      92
33                                   Boerboel       8
34                                  Bolognese       1
35                              Border Collie     817
36                             Border Terrier      28
37                                     Borzoi       6
38                             Boston Terrier     149
39                       Bouvier des Flandres       1
40                                      Boxer    2050
41                             Boykin Spaniel       1
42                                     Briard       1
43                           Brittany Spaniel      31
44                           Brussels Griffon      24
45                               Bull Terrier     176
46                                Bullmastiff      55
47                              Cairn Terrier      91
48                                 Canaan Dog      17
49                                 Cane Corso      83
50                       Cardigan Welsh Corgi      26
51                               Carolina Dog      61
52                      Catahoula Leopard Dog     488
53                                 Cattle Dog     444
54   Caucasian Sheepdog / Caucasian Ovtcharka       3
55              Cavalier King Charles Spaniel      23
56                   Chesapeake Bay Retriever      23
57                                  Chihuahua    3766
58                        Chinese Crested Dog      18
59                            Chinese Foo Dog       1
60                                    Chinook       1
61               Chocolate Labrador Retriever     155
62                                  Chow Chow     165
63                            Clumber Spaniel       4
64                                   Cockapoo      17
65                             Cocker Spaniel     209
66                                     Collie     236
67                                  Coonhound     286
68                                      Corgi     128
69                            Coton de Tulear       2
70                     Curly-Coated Retriever       2
71                                  Dachshund     853
72                                  Dalmatian      77
73                          Doberman Pinscher     267
74                             Dogo Argentino      34
75                          Dogue de Bordeaux      22
76                             Dutch Shepherd      63
77                            English Bulldog     177
78                     English Cocker Spaniel       2
79                          English Coonhound      30
80                           English Foxhound       4
81                            English Pointer      90
82                             English Setter      28
83                           English Shepherd      20
84                   English Springer Spaniel      35
85                                Entlebucher       2
86                                 Eskimo Dog       8
87                                      Feist     139
88                              Field Spaniel       1
89                            Fila Brasileiro       1
90                              Finnish Spitz       5
91                      Flat-Coated Retriever      43
92                                Fox Terrier      40
93                                   Foxhound     100
94                             French Bulldog      46
95                    Galgo Spanish Greyhound       8
96                            German Pinscher       7
97                        German Shepherd Dog    2122
98                 German Shorthaired Pointer      88
99                               German Spitz       2
100                 German Wirehaired Pointer      10
101                           Giant Schnauzer       6
102                          Golden Retriever     203
103                             Gordon Setter       2
104                                Great Dane     334
105                            Great Pyrenees     481
106                Greater Swiss Mountain Dog       7
107                                 Greyhound     306
108                                   Harrier      14
109                                  Havanese      24
110                                     Hound    2282
111                                     Husky     567
112                              Ibizan Hound       5
113                              Irish Setter       8
114                             Irish Terrier      17
115                           Irish Wolfhound      17
116                         Italian Greyhound      66
117                      Jack Russell Terrier     637
118                             Japanese Chin      15
119                                     Jindo      46
120                                   Kai Dog       1
121                                  Keeshond       4
122                                    Kuvasz       1
123                                   Kyi Leo       2
124                        Labrador Retriever    7198
125                          Lakeland Terrier       5
126                         Lancashire Heeler       4
127                                Leonberger       1
128                                Lhasa Apso      60
129                                   Maltese     183
130                        Manchester Terrier      39
131                          Maremma Sheepdog       4
132                                   Mastiff     301
133                                     McNab       5
134                       Miniature Dachshund       3
135                        Miniature Pinscher     317
136                          Miniature Poodle      12
137                       Miniature Schnauzer      26
138                               Mixed Breed    3242
139                              Mountain Cur     168
140                              Mountain Dog      16
141                        Neapolitan Mastiff       9
142                          Newfoundland Dog      26
143                           Norfolk Terrier       5
144                          Norwegian Buhund       2
145                        Norwegian Elkhound       6
146                           Norwich Terrier       6
147        Nova Scotia Duck Tolling Retriever       5
148                      Old English Sheepdog       1
149                                Otterhound       2
150                                  Papillon      59
151                    Parson Russell Terrier      70
152         Patterdale Terrier / Fell Terrier      16
153                                 Pekingese      76
154                      Pembroke Welsh Corgi       9
155              Petit Basset Griffon Vendeen      12
156                             Pharaoh Hound      11
157                          Pit Bull Terrier    7890
158                               Plott Hound     265
159                                   Pointer     367
160                                Pomeranian     252
161                                    Poodle     304
162                        Portuguese Podengo       4
163                             Presa Canario      27
164                                       Pug     255
165                               Rat Terrier     338
166                         Redbone Coonhound     104
167                                 Retriever     538
168                       Rhodesian Ridgeback      74
169                                Rottweiler     533
170                              Rough Collie       6
171                             Saint Bernard     102
172                                    Saluki      19
173                                   Samoyed       8
174                                Schipperke      22
175                                 Schnauzer     200
176                          Scottish Terrier      13
177                                    Setter      10
178                                  Shar-Pei     249
179                                 Sheep Dog       3
180                                  Shepherd    1972
181               Shetland Sheepdog / Sheltie      54
182                                 Shiba Inu      60
183                                  Shih Tzu     421
184                            Siberian Husky     439
185                             Silky Terrier      15
186                              Skye Terrier       1
187                             Smooth Collie       8
188                        Smooth Fox Terrier       4
189                                   Spaniel     148
190                          Spinone Italiano       1
191                                     Spitz      34
192                Staffordshire Bull Terrier     390
193                           Standard Poodle      47
194                        Standard Schnauzer      14
195                                   Terrier    2641
196                            Thai Ridgeback       3
197                           Tibetan Mastiff      10
198                           Tibetan Spaniel       9
199                           Tibetan Terrier       3
200                                  Tosa Inu       1
201                           Toy Fox Terrier      26
202                  Treeing Walker Coonhound     258
203                                    Vizsla      60
204                                Weimaraner     126
205      West Highland White Terrier / Westie      19
206                           Wheaten Terrier      19
207                                   Whippet      83
208                     White German Shepherd      17
209                          Wire Fox Terrier      15
210                      Wirehaired Dachshund       4
211               Wirehaired Pointing Griffon       1
212                        Wirehaired Terrier      60
213         Xoloitzcuintli / Mexican Hairless      11
214                 Yellow Labrador Retriever     158
215                         Yorkshire Terrier     360

# 3. For each (primary) breed, determine the ratio between the number of dogs of Mixed Breed and those not of Mixed Breed. Hint: look at the secondary_breed

In [73]:
dogs_clean.head()

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,color_secondary,color_tertiary,age,sex,size,coat,fixed,house_trained,declawed,special_needs,shots_current,env_children,env_dogs,env_cats,name,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,Yellow / Tan / Blond / Fawn,NaN,Senior,Male,Medium,Short,True,True,NaN,False,True,NaN,NaN,NaN,HARLEY,adoptable,2019-09-20T16:37:59+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,White / Cream,NaN,Adult,Male,Large,Short,True,True,NaN,False,True,NaN,NaN,NaN,BIGGIE,adoptable,2019-09-20T16:24:57+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,NaN,NaN,Adult,Male,Large,Short,True,False,NaN,False,True,NaN,NaN,NaN,Ziggy,adoptable,2019-09-20T14:10:11+0000,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\n Did I catch your eye? I ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,NaN,NaN,Baby,Female,Large,NaN,False,False,NaN,False,False,NaN,NaN,NaN,Gypsy,adoptable,2019-09-20T10:08:22+0000,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,NaN,NaN,Young,Male,Small,Long,True,False,NaN,False,True,True,True,True,Theo,adoptable,2019-09-20T06:48:30+0000,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09

METHOD 1: Considering the 'breed_mixed' column: if True it means that the dog is of mixed breed, False otherwise

In [58]:
mixed_breed = dogs_clean.where(dogs_clean['breed_mixed']== True).groupby('breed_primary').size().reset_index(name='mixed')
mixed_breed

                                breed_primary  mixed
0                               Affenpinscher      5
1                                Afghan Hound      4
2                            Airedale Terrier     17
3                                      Akbash      2
4                                       Akita     83
5                            Alaskan Malamute     20
6                            American Bulldog    881
7                         American Eskimo Dog     19
8                           American Foxhound     12
9                   American Hairless Terrier      2
10             American Staffordshire Terrier   1307
11                         Anatolian Shepherd    107
12        Australian Cattle Dog / Blue Heeler    749
13                          Australian Kelpie     39
14                        Australian Shepherd    529
15                         Australian Terrier     15
16                                    Basenji     51
17                               Basset Hound    195
18                                     Beagle   1048
19                             Bearded Collie      5
20                                  Beauceron      4
21               Belgian Shepherd / Laekenois      1
22                Belgian Shepherd / Malinois     51
23                Belgian Shepherd / Sheepdog      1
24                Belgian Shepherd / Tervuren      2
25                       Bernese Mountain Dog     12
26                               Bichon Frise     47
27                   Black Labrador Retriever    447
28                            Black Mouth Cur    173
29                    Black and Tan Coonhound     59
30                                 Bloodhound     39
31                                  Blue Lacy      6
32                         Bluetick Coonhound     59
33                                   Boerboel      7
34                              Border Collie    679
35                             Border Terrier     27
36                                     Borzoi      6
37                             Boston Terrier    114
38                       Bouvier des Flandres      1
39                                      Boxer   1740
40                             Boykin Spaniel      1
41                                     Briard      1
42                           Brittany Spaniel     26
43                           Brussels Griffon     19
44                               Bull Terrier    121
45                                Bullmastiff     36
46                              Cairn Terrier     72
47                                 Canaan Dog     10
48                                 Cane Corso     35
49                       Cardigan Welsh Corgi     23
50                               Carolina Dog     49
51                      Catahoula Leopard Dog    407
52                                 Cattle Dog    369
53   Caucasian Sheepdog / Caucasian Ovtcharka      2
54              Cavalier King Charles Spaniel     14
55                   Chesapeake Bay Retriever     20
56                                  Chihuahua   2329
57                        Chinese Crested Dog      6
58               Chocolate Labrador Retriever    108
59                                  Chow Chow    131
60                            Clumber Spaniel      3
61                                   Cockapoo      8
62                             Cocker Spaniel     72
63                                     Collie    210
64                                  Coonhound    177
65                                      Corgi    117
66                            Coton de Tulear      1
67                     Curly-Coated Retriever      1
68                                  Dachshund    618
69                                  Dalmatian     58
70                          Doberman Pinscher    153
71                             Dogo Argentino     13
72                          Dogue de Bordeaux      8
73                             Dutch Shepherd     53
74                            English Bulldog    101
75                     English Cocker Spaniel      2
76                          English Coonhound     17
77                           English Foxhound      4
78                            English Pointer     21
79                             English Setter     17
80                           English Shepherd     15
81                   English Springer Spaniel     11
82                                Entlebucher      2
83                                 Eskimo Dog      5
84                                      Feist    129
85                              Field Spaniel      1
86                            Fila Brasileiro      1
87                              Finnish Spitz      5
88                      Flat-Coated Retriever     36
89                                Fox Terrier     32
90                                   Foxhound     67
91                             French Bulldog     29
92                            German Pinscher      6
93                        German Shepherd Dog   1251
94                 German Shorthaired Pointer     63
95                               German Spitz      2
96                  German Wirehaired Pointer      8
97                            Giant Schnauzer      2
98                           Golden Retriever    163
99                              Gordon Setter      2
100                                Great Dane    179
101                            Great Pyrenees    258
102                Greater Swiss Mountain Dog      6
103                                 Greyhound     63
104                                   Harrier     11
105                                  Havanese     11
106                                     Hound   1917
107                                     Husky    417
108                              Ibizan Hound      3
109                              Irish Setter      7
110                             Irish Terrier     13
111                           Irish Wolfhound     13
112                         Italian Greyhound     40
113                      Jack Russell Terrier    457
114                             Japanese Chin      8
115                                     Jindo     34
116                                   Kai Dog      1
117                                  Keeshond      3
118                                   Kyi Leo      1
119                        Labrador Retriever   6144
120                          Lakeland Terrier      5
121                         Lancashire Heeler      3
122                                Leonberger      1
123                                Lhasa Apso     37
124                                   Maltese    122
125                        Manchester Terrier     34
126                          Maremma Sheepdog      1
127                                   Mastiff    219
128                                     McNab      4
129                       Miniature Dachshund      3
130                        Miniature Pinscher    216
131                          Miniature Poodle      3
132                       Miniature Schnauzer      8
133                               Mixed Breed   1221
134                              Mountain Cur    137
135                              Mountain Dog     16
136                        Neapolitan Mastiff      4
137                          Newfoundland Dog     16
138                           Norfolk Terrier      4
139                          Norwegian Buhund      2
140                        Norwegian Elkhound      4
141                           Norwich Terrier      2
142        Nova Scotia Duck Tolling Retriever      4
143                                Otterhound      2
144                                  Papillon     48
145                    Parson Russell Terrier     52
146         Patterdale Terrier / Fell Terrier      8
147                                 Pekingese     40
148                      Pembroke Welsh Corgi      4
149              Petit Basset Griffon Vendeen      9
150                             Pharaoh Hound     11
151                          Pit Bull Terrier   5365
152                               Plott Hound    225
153                                   Pointer    324
154                                Pomeranian    146
155                                    Poodle    171
156                        Portuguese Podengo      2
157                             Presa Canario     14
158                                       Pug    200
159                               Rat Terrier    258
160                         Redbone Coonhound     69
161                                 Retriever    477
162                       Rhodesian Ridgeback     70
163                                Rottweiler    325
164                              Rough Collie      1
165                             Saint Bernard     61
166                                    Saluki     15
167                                   Samoyed      5
168                                Schipperke     19
169                                 Schnauzer    147
170                          Scottish Terrier      7
171                                    Setter      8
172                                  Shar-Pei    218
173                                 Sheep Dog      3
174                                  Shepherd   1761
175               Shetland Sheepdog / Sheltie     26
176                                 Shiba Inu     45
177                                  Shih Tzu    213
178                            Siberian Husky    178
179                             Silky Terrier      6
180                              Skye Terrier      1
181                             Smooth Collie      7
182                        Smooth Fox Terrier      4
183                                   Spaniel    136
184                          Spinone Italiano      1
185                                     Spitz     33
186                Staffordshire Bull Terrier    290
187                           Standard Poodle     22
188                        Standard Schnauzer     10
189                                   Terrier   2281
190                            Thai Ridgeback      3
191                           Tibetan Mastiff      4
192                           Tibetan Spaniel      8
193                           Tibetan Terrier      1
194                           Toy Fox Terrier     19
195                  Treeing Walker Coonhound    113
196                                    Vizsla     58
197                                Weimaraner     76
198      West Highland White Terrier / Westie     15
199                           Wheaten Terrier     14
200                                   Whippet     77
201                     White German Shepherd     13
202                          Wire Fox Terrier     13
203                      Wirehaired Dachshund      3
204               Wirehaired Pointing Griffon      1
205                        Wirehaired Terrier     45
206         Xoloitzcuintli / Mexican Hairless      5
207                 Yellow Labrador Retriever    122
208                         Yorkshire Terrier    203

In [59]:
not_mixed_breed = dogs.where(dogs['breed_mixed'] == False).groupby('breed_primary').size().reset_index(name='not_mixed')
not_mixed_breed

                                breed_primary  not_mixed
0                               Affenpinscher         12
1                            Airedale Terrier          2
2                                      Akbash          1
3                                       Akita         98
4                            Alaskan Malamute         52
5                            American Bulldog        253
6                         American Eskimo Dog         24
7                           American Foxhound          5
8                   American Hairless Terrier          2
9              American Staffordshire Terrier        555
10                         Anatolian Shepherd         11
11        Australian Cattle Dog / Blue Heeler        224
12                          Australian Kelpie          4
13                        Australian Shepherd        167
14                                    Basenji          3
15                               Basset Hound         46
16                                     Beagle        491
17                             Bearded Collie          1
18                Belgian Shepherd / Malinois         43
19                Belgian Shepherd / Sheepdog          2
20                       Bernese Mountain Dog          8
21                               Bichon Frise         35
22                   Black Labrador Retriever         98
23                            Black Mouth Cur         28
24                    Black and Tan Coonhound         29
25                                 Bloodhound         15
26                                  Blue Lacy          7
27                         Bluetick Coonhound         33
28                                   Boerboel          1
29                                  Bolognese          1
30                              Border Collie        138
31                             Border Terrier          1
32                             Boston Terrier         35
33                                      Boxer        310
34                           Brittany Spaniel          5
35                           Brussels Griffon          5
36                               Bull Terrier         55
37                                Bullmastiff         19
38                              Cairn Terrier         19
39                                 Canaan Dog          7
40                                 Cane Corso         48
41                       Cardigan Welsh Corgi          3
42                               Carolina Dog         12
43                      Catahoula Leopard Dog         81
44                                 Cattle Dog         75
45   Caucasian Sheepdog / Caucasian Ovtcharka          1
46              Cavalier King Charles Spaniel          9
47                   Chesapeake Bay Retriever          3
48                                  Chihuahua       1437
49                        Chinese Crested Dog         12
50                            Chinese Foo Dog          1
51                                    Chinook          1
52               Chocolate Labrador Retriever         47
53                                  Chow Chow         34
54                            Clumber Spaniel          1
55                                   Cockapoo          9
56                             Cocker Spaniel        137
57                                     Collie         26
58                                  Coonhound        109
59                                      Corgi         11
60                            Coton de Tulear          1
61                     Curly-Coated Retriever          1
62                                  Dachshund        235
63                                  Dalmatian         19
64                          Doberman Pinscher        114
65                             Dogo Argentino         21
66                          Dogue de Bordeaux         14
67                             Dutch Shepherd         10
68                            English Bulldog         76
69                          English Coonhound         13
70                            English Pointer         69
71                             English Setter         11
72                           English Shepherd          5
73                   English Springer Spaniel         24
74                                 Eskimo Dog          3
75                                      Feist         10
76                      Flat-Coated Retriever          7
77                                Fox Terrier          8
78                                   Foxhound         33
79                             French Bulldog         17
80                    Galgo Spanish Greyhound          8
81                            German Pinscher          1
82                        German Shepherd Dog        871
83                 German Shorthaired Pointer         25
84                  German Wirehaired Pointer          2
85                            Giant Schnauzer          4
86                           Golden Retriever         40
87                                 Great Dane        155
88                             Great Pyrenees        223
89                 Greater Swiss Mountain Dog          1
90                                  Greyhound        243
91                                    Harrier          3
92                                   Havanese         13
93                                      Hound        365
94                                      Husky        150
95                               Ibizan Hound          2
96                               Irish Setter          1
97                              Irish Terrier          4
98                            Irish Wolfhound          4
99                          Italian Greyhound         26
100                      Jack Russell Terrier        180
101                             Japanese Chin          7
102                                     Jindo         12
103                                  Keeshond          1
104                                    Kuvasz          1
105                                   Kyi Leo          1
106                        Labrador Retriever       1054
107                         Lancashire Heeler          1
108                                Lhasa Apso         23
109                                   Maltese         61
110                        Manchester Terrier          5
111                          Maremma Sheepdog          3
112                                   Mastiff         82
113                                     McNab          1
114                        Miniature Pinscher        101
115                          Miniature Poodle          9
116                       Miniature Schnauzer         18
117                               Mixed Breed       2021
118                              Mountain Cur         31
119                        Neapolitan Mastiff          5
120                          Newfoundland Dog         10
121                           Norfolk Terrier          1
122                        Norwegian Elkhound          2
123                           Norwich Terrier          4
124        Nova Scotia Duck Tolling Retriever          1
125                      Old English Sheepdog          1
126                                  Papillon         11
127                    Parson Russell Terrier         18
128         Patterdale Terrier / Fell Terrier          8
129                                 Pekingese         36
130                      Pembroke Welsh Corgi          5
131              Petit Basset Griffon Vendeen          3
132                          Pit Bull Terrier       2525
133                               Plott Hound         40
134                                   Pointer         43
135                                Pomeranian        106
136                                    Poodle        133
137                        Portuguese Podengo          2
138                             Presa Canario         13
139                                       Pug         55
140                               Rat Terrier         80
141                         Redbone Coonhound         35
142                                 Retriever         61
143                       Rhodesian Ridgeback          4
144                                Rottweiler        208
145                              Rough Collie          5
146                             Saint Bernard         41
147                                    Saluki          4
148                                   Samoyed          3
149                                Schipperke          3
150                                 Schnauzer         53
151                          Scottish Terrier          6
152                                    Setter          2
153                                  Shar-Pei         31
154                                  Shepherd        211
155               Shetland Sheepdog / Sheltie         28
156                                 Shiba Inu         15
157                                  Shih Tzu        208
158                            Siberian Husky        261
159                             Silky Terrier          9
160                             Smooth Collie          1
161                                   Spaniel         12
162                                     Spitz          1
163                Staffordshire Bull Terrier        100
164                           Standard Poodle         25
165                        Standard Schnauzer          4
166                                   Terrier        360
167                           Tibetan Mastiff          6
168                           Tibetan Spaniel          1
169                           Tibetan Terrier          2
170                                  Tosa Inu          1
171                           Toy Fox Terrier          7
172                  Treeing Walker Coonhound        145
173                                    Vizsla          2
174                                Weimaraner         50
175      West Highland White Terrier / Westie          4
176                           Wheaten Terrier          5
177                                   Whippet          6
178                     White German Shepherd          4
179                          Wire Fox Terrier          2
180                      Wirehaired Dachshund          1
181                        Wirehaired Terrier         15
182         Xoloitzcuintli / Mexican Hairless          6
183                 Yellow Labrador Retriever         36
184                         Yorkshire Terrier        157

In [60]:
breed_ratio = pd.merge(mixed_breed, not_mixed_breed, on='breed_primary')
breed_ratio

                                breed_primary  mixed  not_mixed
0                               Affenpinscher      5         12
1                            Airedale Terrier     17          2
2                                      Akbash      2          1
3                                       Akita     83         98
4                            Alaskan Malamute     20         52
5                            American Bulldog    881        253
6                         American Eskimo Dog     19         24
7                           American Foxhound     12          5
8                   American Hairless Terrier      2          2
9              American Staffordshire Terrier   1307        555
10                         Anatolian Shepherd    107         11
11        Australian Cattle Dog / Blue Heeler    749        224
12                          Australian Kelpie     39          4
13                        Australian Shepherd    529        167
14                                    Basenji     51          3
15                               Basset Hound    195         46
16                                     Beagle   1048        491
17                             Bearded Collie      5          1
18                Belgian Shepherd / Malinois     51         43
19                Belgian Shepherd / Sheepdog      1          2
20                       Bernese Mountain Dog     12          8
21                               Bichon Frise     47         35
22                   Black Labrador Retriever    447         98
23                            Black Mouth Cur    173         28
24                    Black and Tan Coonhound     59         29
25                                 Bloodhound     39         15
26                                  Blue Lacy      6          7
27                         Bluetick Coonhound     59         33
28                                   Boerboel      7          1
29                              Border Collie    679        138
30                             Border Terrier     27          1
31                             Boston Terrier    114         35
32                                      Boxer   1740        310
33                           Brittany Spaniel     26          5
34                           Brussels Griffon     19          5
35                               Bull Terrier    121         55
36                                Bullmastiff     36         19
37                              Cairn Terrier     72         19
38                                 Canaan Dog     10          7
39                                 Cane Corso     35         48
40                       Cardigan Welsh Corgi     23          3
41                               Carolina Dog     49         12
42                      Catahoula Leopard Dog    407         81
43                                 Cattle Dog    369         75
44   Caucasian Sheepdog / Caucasian Ovtcharka      2          1
45              Cavalier King Charles Spaniel     14          9
46                   Chesapeake Bay Retriever     20          3
47                                  Chihuahua   2329       1437
48                        Chinese Crested Dog      6         12
49               Chocolate Labrador Retriever    108         47
50                                  Chow Chow    131         34
51                            Clumber Spaniel      3          1
52                                   Cockapoo      8          9
53                             Cocker Spaniel     72        137
54                                     Collie    210         26
55                                  Coonhound    177        109
56                                      Corgi    117         11
57                            Coton de Tulear      1          1
58                     Curly-Coated Retriever      1          1
59                                  Dachshund    618        235
60                                  Dalmatian     58         19
61                          Doberman Pinscher    153        114
62                             Dogo Argentino     13         21
63                          Dogue de Bordeaux      8         14
64                             Dutch Shepherd     53         10
65                            English Bulldog    101         76
66                          English Coonhound     17         13
67                            English Pointer     21         69
68                             English Setter     17         11
69                           English Shepherd     15          5
70                   English Springer Spaniel     11         24
71                                 Eskimo Dog      5          3
72                                      Feist    129         10
73                      Flat-Coated Retriever     36          7
74                                Fox Terrier     32          8
75                                   Foxhound     67         33
76                             French Bulldog     29         17
77                            German Pinscher      6          1
78                        German Shepherd Dog   1251        871
79                 German Shorthaired Pointer     63         25
80                  German Wirehaired Pointer      8          2
81                            Giant Schnauzer      2          4
82                           Golden Retriever    163         40
83                                 Great Dane    179        155
84                             Great Pyrenees    258        223
85                 Greater Swiss Mountain Dog      6          1
86                                  Greyhound     63        243
87                                    Harrier     11          3
88                                   Havanese     11         13
89                                      Hound   1917        365
90                                      Husky    417        150
91                               Ibizan Hound      3          2
92                               Irish Setter      7          1
93                              Irish Terrier     13          4
94                            Irish Wolfhound     13          4
95                          Italian Greyhound     40         26
96                       Jack Russell Terrier    457        180
97                              Japanese Chin      8          7
98                                      Jindo     34         12
99                                   Keeshond      3          1
100                                   Kyi Leo      1          1
101                        Labrador Retriever   6144       1054
102                         Lancashire Heeler      3          1
103                                Lhasa Apso     37         23
104                                   Maltese    122         61
105                        Manchester Terrier     34          5
106                          Maremma Sheepdog      1          3
107                                   Mastiff    219         82
108                                     McNab      4          1
109                        Miniature Pinscher    216        101
110                          Miniature Poodle      3          9
111                       Miniature Schnauzer      8         18
112                               Mixed Breed   1221       2021
113                              Mountain Cur    137         31
114                        Neapolitan Mastiff      4          5
115                          Newfoundland Dog     16         10
116                           Norfolk Terrier      4          1
117                        Norwegian Elkhound      4          2
118                           Norwich Terrier      2          4
119        Nova Scotia Duck Tolling Retriever      4          1
120                                  Papillon     48         11
121                    Parson Russell Terrier     52         18
122         Patterdale Terrier / Fell Terrier      8          8
123                                 Pekingese     40         36
124                      Pembroke Welsh Corgi      4          5
125              Petit Basset Griffon Vendeen      9          3
126                          Pit Bull Terrier   5365       2525
127                               Plott Hound    225         40
128                                   Pointer    324         43
129                                Pomeranian    146        106
130                                    Poodle    171        133
131                        Portuguese Podengo      2          2
132                             Presa Canario     14         13
133                                       Pug    200         55
134                               Rat Terrier    258         80
135                         Redbone Coonhound     69         35
136                                 Retriever    477         61
137                       Rhodesian Ridgeback     70          4
138                                Rottweiler    325        208
139                              Rough Collie      1          5
140                             Saint Bernard     61         41
141                                    Saluki     15          4
142                                   Samoyed      5          3
143                                Schipperke     19          3
144                                 Schnauzer    147         53
145                          Scottish Terrier      7          6
146                                    Setter      8          2
147                                  Shar-Pei    218         31
148                                  Shepherd   1761        211
149               Shetland Sheepdog / Sheltie     26         28
150                                 Shiba Inu     45         15
151                                  Shih Tzu    213        208
152                            Siberian Husky    178        261
153                             Silky Terrier      6          9
154                             Smooth Collie      7          1
155                                   Spaniel    136         12
156                                     Spitz     33          1
157                Staffordshire Bull Terrier    290        100
158                           Standard Poodle     22         25
159                        Standard Schnauzer     10          4
160                                   Terrier   2281        360
161                           Tibetan Mastiff      4          6
162                           Tibetan Spaniel      8          1
163                           Tibetan Terrier      1          2
164                           Toy Fox Terrier     19          7
165                  Treeing Walker Coonhound    113        145
166                                    Vizsla     58          2
167                                Weimaraner     76         50
168      West Highland White Terrier / Westie     15          4
169                           Wheaten Terrier     14          5
170                                   Whippet     77          6
171                     White German Shepherd     13          4
172                          Wire Fox Terrier     13          2
173                      Wirehaired Dachshund      3          1
174                        Wirehaired Terrier     45         15
175         Xoloitzcuintli / Mexican Hairless      5          6
176                 Yellow Labrador Retriever    122         36
177                         Yorkshire Terrier    203        157

In [70]:
breed_ratio['ratio'] = breed_ratio['mixed'] / breed_ratio['not_mixed']
breed_ratio

                                breed_primary  mixed  not_mixed      ratio
0                               Affenpinscher      5         12   0.416667
1                            Airedale Terrier     17          2   8.500000
2                                      Akbash      2          1   2.000000
3                                       Akita     83         98   0.846939
4                            Alaskan Malamute     20         52   0.384615
5                            American Bulldog    881        253   3.482213
6                         American Eskimo Dog     19         24   0.791667
7                           American Foxhound     12          5   2.400000
8                   American Hairless Terrier      2          2   1.000000
9              American Staffordshire Terrier   1307        555   2.354955
10                         Anatolian Shepherd    107         11   9.727273
11        Australian Cattle Dog / Blue Heeler    749        224   3.343750
12                          Australian Kelpie     39          4   9.750000
13                        Australian Shepherd    529        167   3.167665
14                                    Basenji     51          3  17.000000
15                               Basset Hound    195         46   4.239130
16                                     Beagle   1048        491   2.134420
17                             Bearded Collie      5          1   5.000000
18                Belgian Shepherd / Malinois     51         43   1.186047
19                Belgian Shepherd / Sheepdog      1          2   0.500000
20                       Bernese Mountain Dog     12          8   1.500000
21                               Bichon Frise     47         35   1.342857
22                   Black Labrador Retriever    447         98   4.561224
23                            Black Mouth Cur    173         28   6.178571
24                    Black and Tan Coonhound     59         29   2.034483
25                                 Bloodhound     39         15   2.600000
26                                  Blue Lacy      6          7   0.857143
27                         Bluetick Coonhound     59         33   1.787879
28                                   Boerboel      7          1   7.000000
29                              Border Collie    679        138   4.920290
30                             Border Terrier     27          1  27.000000
31                             Boston Terrier    114         35   3.257143
32                                      Boxer   1740        310   5.612903
33                           Brittany Spaniel     26          5   5.200000
34                           Brussels Griffon     19          5   3.800000
35                               Bull Terrier    121         55   2.200000
36                                Bullmastiff     36         19   1.894737
37                              Cairn Terrier     72         19   3.789474
38                                 Canaan Dog     10          7   1.428571
39                                 Cane Corso     35         48   0.729167
40                       Cardigan Welsh Corgi     23          3   7.666667
41                               Carolina Dog     49         12   4.083333
42                      Catahoula Leopard Dog    407         81   5.024691
43                                 Cattle Dog    369         75   4.920000
44   Caucasian Sheepdog / Caucasian Ovtcharka      2          1   2.000000
45              Cavalier King Charles Spaniel     14          9   1.555556
46                   Chesapeake Bay Retriever     20          3   6.666667
47                                  Chihuahua   2329       1437   1.620738
48                        Chinese Crested Dog      6         12   0.500000
49               Chocolate Labrador Retriever    108         47   2.297872
50                                  Chow Chow    131         34   3.852941
51                            Clumber Spaniel      3          1   3.000000
52                                   Cockapoo      8          9   0.888889
53                             Cocker Spaniel     72        137   0.525547
54                                     Collie    210         26   8.076923
55                                  Coonhound    177        109   1.623853
56                                      Corgi    117         11  10.636364
57                            Coton de Tulear      1          1   1.000000
58                     Curly-Coated Retriever      1          1   1.000000
59                                  Dachshund    618        235   2.629787
60                                  Dalmatian     58         19   3.052632
61                          Doberman Pinscher    153        114   1.342105
62                             Dogo Argentino     13         21   0.619048
63                          Dogue de Bordeaux      8         14   0.571429
64                             Dutch Shepherd     53         10   5.300000
65                            English Bulldog    101         76   1.328947
66                          English Coonhound     17         13   1.307692
67                            English Pointer     21         69   0.304348
68                             English Setter     17         11   1.545455
69                           English Shepherd     15          5   3.000000
70                   English Springer Spaniel     11         24   0.458333
71                                 Eskimo Dog      5          3   1.666667
72                                      Feist    129         10  12.900000
73                      Flat-Coated Retriever     36          7   5.142857
74                                Fox Terrier     32          8   4.000000
75                                   Foxhound     67         33   2.030303
76                             French Bulldog     29         17   1.705882
77                            German Pinscher      6          1   6.000000
78                        German Shepherd Dog   1251        871   1.436280
79                 German Shorthaired Pointer     63         25   2.520000
80                  German Wirehaired Pointer      8          2   4.000000
81                            Giant Schnauzer      2          4   0.500000
82                           Golden Retriever    163         40   4.075000
83                                 Great Dane    179        155   1.154839
84                             Great Pyrenees    258        223   1.156951
85                 Greater Swiss Mountain Dog      6          1   6.000000
86                                  Greyhound     63        243   0.259259
87                                    Harrier     11          3   3.666667
88                                   Havanese     11         13   0.846154
89                                      Hound   1917        365   5.252055
90                                      Husky    417        150   2.780000
91                               Ibizan Hound      3          2   1.500000
92                               Irish Setter      7          1   7.000000
93                              Irish Terrier     13          4   3.250000
94                            Irish Wolfhound     13          4   3.250000
95                          Italian Greyhound     40         26   1.538462
96                       Jack Russell Terrier    457        180   2.538889
97                              Japanese Chin      8          7   1.142857
98                                      Jindo     34         12   2.833333
99                                   Keeshond      3          1   3.000000
100                                   Kyi Leo      1          1   1.000000
101                        Labrador Retriever   6144       1054   5.829222
102                         Lancashire Heeler      3          1   3.000000
103                                Lhasa Apso     37         23   1.608696
104                                   Maltese    122         61   2.000000
105                        Manchester Terrier     34          5   6.800000
106                          Maremma Sheepdog      1          3   0.333333
107                                   Mastiff    219         82   2.670732
108                                     McNab      4          1   4.000000
109                        Miniature Pinscher    216        101   2.138614
110                          Miniature Poodle      3          9   0.333333
111                       Miniature Schnauzer      8         18   0.444444
112                               Mixed Breed   1221       2021   0.604156
113                              Mountain Cur    137         31   4.419355
114                        Neapolitan Mastiff      4          5   0.800000
115                          Newfoundland Dog     16         10   1.600000
116                           Norfolk Terrier      4          1   4.000000
117                        Norwegian Elkhound      4          2   2.000000
118                           Norwich Terrier      2          4   0.500000
119        Nova Scotia Duck Tolling Retriever      4          1   4.000000
120                                  Papillon     48         11   4.363636
121                    Parson Russell Terrier     52         18   2.888889
122         Patterdale Terrier / Fell Terrier      8          8   1.000000
123                                 Pekingese     40         36   1.111111
124                      Pembroke Welsh Corgi      4          5   0.800000
125              Petit Basset Griffon Vendeen      9          3   3.000000
126                          Pit Bull Terrier   5365       2525   2.124752
127                               Plott Hound    225         40   5.625000
128                                   Pointer    324         43   7.534884
129                                Pomeranian    146        106   1.377358
130                                    Poodle    171        133   1.285714
131                        Portuguese Podengo      2          2   1.000000
132                             Presa Canario     14         13   1.076923
133                                       Pug    200         55   3.636364
134                               Rat Terrier    258         80   3.225000
135                         Redbone Coonhound     69         35   1.971429
136                                 Retriever    477         61   7.819672
137                       Rhodesian Ridgeback     70          4  17.500000
138                                Rottweiler    325        208   1.562500
139                              Rough Collie      1          5   0.200000
140                             Saint Bernard     61         41   1.487805
141                                    Saluki     15          4   3.750000
142                                   Samoyed      5          3   1.666667
143                                Schipperke     19          3   6.333333
144                                 Schnauzer    147         53   2.773585
145                          Scottish Terrier      7          6   1.166667
146                                    Setter      8          2   4.000000
147                                  Shar-Pei    218         31   7.032258
148                                  Shepherd   1761        211   8.345972
149               Shetland Sheepdog / Sheltie     26         28   0.928571
150                                 Shiba Inu     45         15   3.000000
151                                  Shih Tzu    213        208   1.024038
152                            Siberian Husky    178        261   0.681992
153                             Silky Terrier      6          9   0.666667
154                             Smooth Collie      7          1   7.000000
155                                   Spaniel    136         12  11.333333
156                                     Spitz     33          1  33.000000
157                Staffordshire Bull Terrier    290        100   2.900000
158                           Standard Poodle     22         25   0.880000
159                        Standard Schnauzer     10          4   2.500000
160                                   Terrier   2281        360   6.336111
161                           Tibetan Mastiff      4          6   0.666667
162                           Tibetan Spaniel      8          1   8.000000
163                           Tibetan Terrier      1          2   0.500000
164                           Toy Fox Terrier     19          7   2.714286
165                  Treeing Walker Coonhound    113        145   0.779310
166                                    Vizsla     58          2  29.000000
167                                Weimaraner     76         50   1.520000
168      West Highland White Terrier / Westie     15          4   3.750000
169                           Wheaten Terrier     14          5   2.800000
170                                   Whippet     77          6  12.833333
171                     White German Shepherd     13          4   3.250000
172                          Wire Fox Terrier     13          2   6.500000
173                      Wirehaired Dachshund      3          1   3.000000
174                        Wirehaired Terrier     45         15   3.000000
175         Xoloitzcuintli / Mexican Hairless      5          6   0.833333
176                 Yellow Labrador Retriever    122         36   3.388889
177                         Yorkshire Terrier    203        157   1.292994

METHOD 2: Considering the 'breed_secondary' column: if it contains the text 'Mixed Breed' it means that the dog is of mixed breed, otherwise it is not

In [65]:
mixed_for_breed = dogs_clean[dogs_clean['breed_secondary'] == 'Mixed Breed'].groupby('breed_primary', as_index=False).count()
mixed_for_breed['n_mixed'] = mixed_for_breed['id']
mixed_for_breed = mixed_for_breed[['breed_primary', 'n_mixed']]
mixed_for_breed.head()

      breed_primary  n_mixed
0     Affenpinscher        1
1  Airedale Terrier        1
2             Akita        6
3  Alaskan Malamute        4
4  American Bulldog      106

In [66]:
not_mixed_for_breed = dogs_clean[dogs_clean['breed_secondary'] != 'Mixed Breed'].groupby('breed_primary', as_index=False).count()
not_mixed_for_breed['n_not_mixed'] = not_mixed_for_breed['id']
not_mixed_for_breed = not_mixed_for_breed[['breed_primary', 'n_not_mixed']]
not_mixed_for_breed

                                breed_primary  n_not_mixed
0                               Affenpinscher           16
1                                Afghan Hound            4
2                            Airedale Terrier           18
3                                      Akbash            3
4                                       Akita          175
5                            Alaskan Malamute           68
6                            American Bulldog         1028
7                         American Eskimo Dog           41
8                           American Foxhound           17
9                   American Hairless Terrier            2
10             American Staffordshire Terrier         1752
11                         Anatolian Shepherd          109
12        Australian Cattle Dog / Blue Heeler          901
13                          Australian Kelpie           34
14                        Australian Shepherd          672
15                         Australian Terrier           15
16                                    Basenji           50
17                               Basset Hound          227
18                                     Beagle         1459
19                             Bearded Collie            6
20                                  Beauceron            4
21               Belgian Shepherd / Laekenois            1
22                Belgian Shepherd / Malinois           87
23                Belgian Shepherd / Sheepdog            3
24                Belgian Shepherd / Tervuren            2
25                       Bernese Mountain Dog           19
26                               Bichon Frise           80
27                   Black Labrador Retriever          532
28                            Black Mouth Cur          182
29                    Black and Tan Coonhound           81
30                                 Bloodhound           50
31                                  Blue Lacy           13
32                         Bluetick Coonhound           88
33                                   Boerboel            8
34                                  Bolognese            1
35                              Border Collie          767
36                             Border Terrier           25
37                                     Borzoi            5
38                             Boston Terrier          142
39                       Bouvier des Flandres            1
40                                      Boxer         1907
41                             Boykin Spaniel            1
42                                     Briard            1
43                           Brittany Spaniel           31
44                           Brussels Griffon           23
45                               Bull Terrier          166
46                                Bullmastiff           52
47                              Cairn Terrier           85
48                                 Canaan Dog           17
49                                 Cane Corso           78
50                       Cardigan Welsh Corgi           21
51                               Carolina Dog           57
52                      Catahoula Leopard Dog          458
53                                 Cattle Dog          406
54   Caucasian Sheepdog / Caucasian Ovtcharka            3
55              Cavalier King Charles Spaniel           23
56                   Chesapeake Bay Retriever           22
57                                  Chihuahua         3576
58                        Chinese Crested Dog           18
59                            Chinese Foo Dog            1
60                                    Chinook            1
61               Chocolate Labrador Retriever          154
62                                  Chow Chow          145
63                            Clumber Spaniel            4
64                                   Cockapoo           17
65                             Cocker Spaniel          206
66                                     Collie          224
67                                  Coonhound          275
68                                      Corgi          124
69                            Coton de Tulear            2
70                     Curly-Coated Retriever            2
71                                  Dachshund          817
72                                  Dalmatian           72
73                          Doberman Pinscher          256
74                             Dogo Argentino           34
75                          Dogue de Bordeaux           18
76                             Dutch Shepherd           60
77                            English Bulldog          172
78                     English Cocker Spaniel            2
79                          English Coonhound           25
80                           English Foxhound            4
81                            English Pointer           89
82                             English Setter           28
83                           English Shepherd           18
84                   English Springer Spaniel           35
85                                Entlebucher            1
86                                 Eskimo Dog            8
87                                      Feist          134
88                              Field Spaniel            1
89                            Fila Brasileiro            1
90                              Finnish Spitz            5
91                      Flat-Coated Retriever           42
92                                Fox Terrier           36
93                                   Foxhound           96
94                             French Bulldog           45
95                    Galgo Spanish Greyhound            8
96                            German Pinscher            6
97                        German Shepherd Dog         1933
98                 German Shorthaired Pointer           83
99                               German Spitz            2
100                 German Wirehaired Pointer            8
101                           Giant Schnauzer            6
102                          Golden Retriever          197
103                             Gordon Setter            1
104                                Great Dane          329
105                            Great Pyrenees          470
106                Greater Swiss Mountain Dog            7
107                                 Greyhound          300
108                                   Harrier           14
109                                  Havanese           23
110                                     Hound         2093
111                                     Husky          536
112                              Ibizan Hound            5
113                              Irish Setter            8
114                             Irish Terrier           16
115                           Irish Wolfhound           16
116                         Italian Greyhound           63
117                      Jack Russell Terrier          632
118                             Japanese Chin           15
119                                     Jindo           46
120                                   Kai Dog            1
121                                  Keeshond            4
122                                    Kuvasz            1
123                                   Kyi Leo            2
124                        Labrador Retriever         6582
125                          Lakeland Terrier            5
126                         Lancashire Heeler            3
127                                Leonberger            1
128                                Lhasa Apso           58
129                                   Maltese          174
130                        Manchester Terrier           35
131                          Maremma Sheepdog            4
132                                   Mastiff          275
133                                     McNab            5
134                       Miniature Dachshund            2
135                        Miniature Pinscher          289
136                          Miniature Poodle           12
137                       Miniature Schnauzer           24
138                               Mixed Breed         3242
139                              Mountain Cur          162
140                              Mountain Dog           16
141                        Neapolitan Mastiff            9
142                          Newfoundland Dog           25
143                           Norfolk Terrier            4
144                        Norwegian Elkhound            5
145                           Norwich Terrier            5
146        Nova Scotia Duck Tolling Retriever            5
147                      Old English Sheepdog            1
148                                Otterhound            1
149                                  Papillon           55
150                    Parson Russell Terrier           49
151         Patterdale Terrier / Fell Terrier           14
152                                 Pekingese           74
153                      Pembroke Welsh Corgi            9
154              Petit Basset Griffon Vendeen           11
155                             Pharaoh Hound            9
156                          Pit Bull Terrier         6739
157                               Plott Hound          238
158                                   Pointer          336
159                                Pomeranian          245
160                                    Poodle          289
161                        Portuguese Podengo            4
162                             Presa Canario           25
163                                       Pug          242
164                               Rat Terrier          324
165                         Redbone Coonhound           98
166                                 Retriever          456
167                       Rhodesian Ridgeback           69
168                                Rottweiler          493
169                              Rough Collie            6
170                             Saint Bernard           97
171                                    Saluki           19
172                                   Samoyed            8
173                                Schipperke           20
174                                 Schnauzer          190
175                          Scottish Terrier           13
176                                    Setter           10
177                                  Shar-Pei          218
178                                 Sheep Dog            2
179                                  Shepherd         1815
180               Shetland Sheepdog / Sheltie           52
181                                 Shiba Inu           52
182                                  Shih Tzu          404
183                            Siberian Husky          412
184                             Silky Terrier           15
185                              Skye Terrier            1
186                             Smooth Collie            8
187                        Smooth Fox Terrier            3
188                                   Spaniel          140
189                          Spinone Italiano            1
190                                     Spitz           30
191                Staffordshire Bull Terrier          354
192                           Standard Poodle           46
193                        Standard Schnauzer            9
194                                   Terrier         2378
195                            Thai Ridgeback            3
196                           Tibetan Mastiff            7
197                           Tibetan Spaniel            8
198                           Tibetan Terrier            3
199                                  Tosa Inu            1
200                           Toy Fox Terrier           25
201                  Treeing Walker Coonhound          245
202                                    Vizsla           58
203                                Weimaraner          122
204      West Highland White Terrier / Westie           18
205                           Wheaten Terrier           18
206                                   Whippet           80
207                     White German Shepherd           17
208                          Wire Fox Terrier           15
209                      Wirehaired Dachshund            3
210               Wirehaired Pointing Griffon            1
211                        Wirehaired Terrier           56
212         Xoloitzcuintli / Mexican Hairless           11
213                 Yellow Labrador Retriever          158
214                         Yorkshire Terrier          345

In [67]:
ratio_mixed = pd.merge(mixed_for_breed, not_mixed_for_breed, on='breed_primary')
ratio_mixed

                            breed_primary  n_mixed  n_not_mixed
0                           Affenpinscher        1           16
1                        Airedale Terrier        1           18
2                                   Akita        6          175
3                        Alaskan Malamute        4           68
4                        American Bulldog      106         1028
5                     American Eskimo Dog        2           41
6               American Hairless Terrier        2            2
7          American Staffordshire Terrier      110         1752
8                      Anatolian Shepherd        9          109
9     Australian Cattle Dog / Blue Heeler       72          901
10                      Australian Kelpie        9           34
11                    Australian Shepherd       24          672
12                                Basenji        4           50
13                           Basset Hound       14          227
14                                 Beagle       80         1459
15            Belgian Shepherd / Malinois        7           87
16                   Bernese Mountain Dog        1           19
17                           Bichon Frise        2           80
18               Black Labrador Retriever       13          532
19                        Black Mouth Cur       19          182
20                Black and Tan Coonhound        7           81
21                             Bloodhound        4           50
22                     Bluetick Coonhound        4           88
23                          Border Collie       50          767
24                         Border Terrier        3           25
25                                 Borzoi        1            5
26                         Boston Terrier        7          142
27                                  Boxer      143         1907
28                       Brussels Griffon        1           23
29                           Bull Terrier       10          166
30                            Bullmastiff        3           52
31                          Cairn Terrier        6           85
32                             Cane Corso        5           78
33                   Cardigan Welsh Corgi        5           21
34                           Carolina Dog        4           57
35                  Catahoula Leopard Dog       30          458
36                             Cattle Dog       38          406
37               Chesapeake Bay Retriever        1           22
38                              Chihuahua      190         3576
39           Chocolate Labrador Retriever        1          154
40                              Chow Chow       20          145
41                         Cocker Spaniel        3          206
42                                 Collie       12          224
43                              Coonhound       11          275
44                                  Corgi        4          124
45                              Dachshund       36          817
46                              Dalmatian        5           72
47                      Doberman Pinscher       11          256
48                      Dogue de Bordeaux        4           18
49                         Dutch Shepherd        3           60
50                        English Bulldog        5          172
51                      English Coonhound        5           25
52                        English Pointer        1           89
53                       English Shepherd        2           18
54                            Entlebucher        1            1
55                                  Feist        5          134
56                  Flat-Coated Retriever        1           42
57                            Fox Terrier        4           36
58                               Foxhound        4           96
59                         French Bulldog        1           45
60                        German Pinscher        1            6
61                    German Shepherd Dog      189         1933
62             German Shorthaired Pointer        5           83
63              German Wirehaired Pointer        2            8
64                       Golden Retriever        6          197
65                          Gordon Setter        1            1
66                             Great Dane        5          329
67                         Great Pyrenees       11          470
68                              Greyhound        6          300
69                               Havanese        1           23
70                                  Hound      189         2093
71                                  Husky       31          536
72                          Irish Terrier        1           16
73                        Irish Wolfhound        1           16
74                      Italian Greyhound        3           63
75                   Jack Russell Terrier        5          632
76                     Labrador Retriever      616         6582
77                      Lancashire Heeler        1            3
78                             Lhasa Apso        2           58
79                                Maltese        9          174
80                     Manchester Terrier        4           35
81                                Mastiff       26          275
82                    Miniature Dachshund        1            2
83                     Miniature Pinscher       28          289
84                    Miniature Schnauzer        2           24
85                           Mountain Cur        6          162
86                       Newfoundland Dog        1           25
87                        Norfolk Terrier        1            4
88                     Norwegian Elkhound        1            5
89                        Norwich Terrier        1            5
90                             Otterhound        1            1
91                               Papillon        4           55
92                 Parson Russell Terrier       21           49
93      Patterdale Terrier / Fell Terrier        2           14
94                              Pekingese        2           74
95           Petit Basset Griffon Vendeen        1           11
96                          Pharaoh Hound        2            9
97                       Pit Bull Terrier     1151         6739
98                            Plott Hound       27          238
99                                Pointer       31          336
100                            Pomeranian        7          245
101                                Poodle       15          289
102                         Presa Canario        2           25
103                                   Pug       13          242
104                           Rat Terrier       14          324
105                     Redbone Coonhound        6           98
106                             Retriever       82          456
107                   Rhodesian Ridgeback        5           69
108                            Rottweiler       40          493
109                         Saint Bernard        5           97
110                            Schipperke        2           20
111                             Schnauzer       10          190
112                              Shar-Pei       31          218
113                             Sheep Dog        1            2
114                              Shepherd      157         1815
115           Shetland Sheepdog / Sheltie        2           52
116                             Shiba Inu        8           52
117                              Shih Tzu       17          404
118                        Siberian Husky       27          412
119                    Smooth Fox Terrier        1            3
120                               Spaniel        8          140
121                                 Spitz        4           30
122            Staffordshire Bull Terrier       36          354
123                       Standard Poodle        1           46
124                    Standard Schnauzer        5            9
125                               Terrier      263         2378
126                       Tibetan Mastiff        3            7
127                       Tibetan Spaniel        1            8
128                       Toy Fox Terrier        1           25
129              Treeing Walker Coonhound       13          245
130                                Vizsla        2           58
131                            Weimaraner        4          122
132  West Highland White Terrier / Westie        1           18
133                       Wheaten Terrier        1           18
134                               Whippet        3           80
135                  Wirehaired Dachshund        1            3
136                    Wirehaired Terrier        4           56
137                     Yorkshire Terrier       15          345

In [69]:
ratio_mixed['ratio_M_notM'] = ratio_mixed['n_mixed']/not_mixed_for_breed['n_not_mixed']
ratio_mixed

                            breed_primary  n_mixed  n_not_mixed  ratio_M_notM
0                           Affenpinscher        1           16      0.062500
1                        Airedale Terrier        1           18      0.250000
2                                   Akita        6          175      0.333333
3                        Alaskan Malamute        4           68      1.333333
4                        American Bulldog      106         1028      0.605714
5                     American Eskimo Dog        2           41      0.029412
6               American Hairless Terrier        2            2      0.001946
7          American Staffordshire Terrier      110         1752      2.682927
8                      Anatolian Shepherd        9          109      0.529412
9     Australian Cattle Dog / Blue Heeler       72          901     36.000000
10                      Australian Kelpie        9           34      0.005137
11                    Australian Shepherd       24          672      0.220183
12                                Basenji        4           50      0.004440
13                           Basset Hound       14          227      0.411765
14                                 Beagle       80         1459      0.119048
15            Belgian Shepherd / Malinois        7           87      0.466667
16                   Bernese Mountain Dog        1           19      0.020000
17                           Bichon Frise        2           80      0.008811
18               Black Labrador Retriever       13          532      0.008910
19                        Black Mouth Cur       19          182      3.166667
20                Black and Tan Coonhound        7           81      1.750000
21                             Bloodhound        4           50      4.000000
22                     Bluetick Coonhound        4           88      0.045977
23                          Border Collie       50          767     16.666667
24                         Border Terrier        3           25      1.500000
25                                 Borzoi        1            5      0.052632
26                         Boston Terrier        7          142      0.087500
27                                  Boxer      143         1907      0.268797
28                       Brussels Griffon        1           23      0.005495
29                           Bull Terrier       10          166      0.123457
30                            Bullmastiff        3           52      0.060000
31                          Cairn Terrier        6           85      0.461538
32                             Cane Corso        5           78      0.056818
33                   Cardigan Welsh Corgi        5           21      0.625000
34                           Carolina Dog        4           57      4.000000
35                  Catahoula Leopard Dog       30          458      0.039113
36                             Cattle Dog       38          406      1.520000
37               Chesapeake Bay Retriever        1           22      0.200000
38                              Chihuahua      190         3576      1.338028
39           Chocolate Labrador Retriever        1          154      1.000000
40                              Chow Chow       20          145      0.010488
41                         Cocker Spaniel        3          206      3.000000
42                                 Collie       12          224     12.000000
43                              Coonhound       11          275      0.354839
44                                  Corgi        4          124      0.173913
45                              Dachshund       36          817      0.216867
46                              Dalmatian        5           72      0.096154
47                      Doberman Pinscher       11          256      0.129412
48                      Dogue de Bordeaux        4           18      0.235294
49                         Dutch Shepherd        3           60      0.038462
50                        English Bulldog        5          172      0.238095
51                      English Coonhound        5           25      0.087719
52                        English Pointer        1           89      0.002183
53                       English Shepherd        2           18      0.004926
54                            Entlebucher        1            1      0.333333
55                                  Feist        5          134      0.217391
56                  Flat-Coated Retriever        1           42      0.045455
57                            Fox Terrier        4           36      0.001119
58                               Foxhound        4           96      0.222222
59                         French Bulldog        1           45      1.000000
60                        German Pinscher        1            6      1.000000
61                    German Shepherd Dog      189         1933      1.227273
62             German Shorthaired Pointer        5           83      0.034483
63              German Wirehaired Pointer        2            8      0.500000
64                       Golden Retriever        6          197      0.352941
65                          Gordon Setter        1            1      0.004854
66                             Great Dane        5          329      0.022321
67                         Great Pyrenees       11          470      0.040000
68                              Greyhound        6          300      0.048387
69                               Havanese        1           23      0.500000
70                                  Hound      189         2093     94.500000
71                                  Husky       31          536      0.037944
72                          Irish Terrier        1           16      0.013889
73                        Irish Wolfhound        1           16      0.003906
74                      Italian Greyhound        3           63      0.088235
75                   Jack Russell Terrier        5          632      0.277778
76                     Labrador Retriever      616         6582     10.266667
77                      Lancashire Heeler        1            3      0.005814
78                             Lhasa Apso        2           58      1.000000
79                                Maltese        9          174      0.360000
80                     Manchester Terrier        4           35      1.000000
81                                Mastiff       26          275      0.292135
82                    Miniature Dachshund        1            2      0.035714
83                     Miniature Pinscher       28          289      1.555556
84                    Miniature Schnauzer        2           24      0.057143
85                           Mountain Cur        6          162      6.000000
86                       Newfoundland Dog        1           25      0.125000
87                        Norfolk Terrier        1            4      0.007463
88                     Norwegian Elkhound        1            5      1.000000
89                        Norwich Terrier        1            5      1.000000
90                             Otterhound        1            1      0.200000
91                               Papillon        4           55      0.095238
92                 Parson Russell Terrier       21           49      0.583333
93      Patterdale Terrier / Fell Terrier        2           14      0.020833
94                              Pekingese        2           74      0.044444
95           Petit Basset Griffon Vendeen        1           11      0.125000
96                          Pharaoh Hound        2            9      0.333333
97                       Pit Bull Terrier     1151         6739      0.595447
98                            Plott Hound       27          238      0.325301
99                                Pointer       31          336     15.500000
100                            Pomeranian        7          245      0.875000
101                                Poodle       15          289      2.500000
102                         Presa Canario        2           25      0.010152
103                                   Pug       13          242     13.000000
104                           Rat Terrier       14          324      0.042553
105                     Redbone Coonhound        6           98      0.012766
106                             Retriever       82          456     11.714286
107                   Rhodesian Ridgeback        5           69      0.016667
108                            Rottweiler       40          493      2.857143
109                         Saint Bernard        5           97      0.217391
110                            Schipperke        2           20      0.000956
111                             Schnauzer       10          190      0.018657
112                              Shar-Pei       31          218      6.200000
113                             Sheep Dog        1            2      0.125000
114                              Shepherd      157         1815      9.812500
115           Shetland Sheepdog / Sheltie        2           52      0.125000
116                             Shiba Inu        8           52      0.126984
117                              Shih Tzu       17          404      0.026899
118                        Siberian Husky       27          412      1.800000
119                    Smooth Fox Terrier        1            3      0.021739
120                               Spaniel        8          140      8.000000
121                                 Spitz        4           30      1.000000
122            Staffordshire Bull Terrier       36          354     36.000000
123                       Standard Poodle        1           46      0.500000
124                    Standard Schnauzer        5            9      0.000760
125                               Terrier      263         2378     52.600000
126                       Tibetan Mastiff        3            7      1.000000
127                       Tibetan Spaniel        1            8      1.000000
128                       Toy Fox Terrier        1           25      0.017241
129              Treeing Walker Coonhound       13          245      0.074713
130                                Vizsla        2           58      0.057143
131                            Weimaraner        4          122      1.000000
132  West Highland White Terrier / Westie        1           18      0.003636
133                       Wheaten Terrier        1           18      0.200000
134                               Whippet        3           80      1.500000
135                  Wirehaired Dachshund        1            3      0.003460
136                    Wirehaired Terrier        4           56      0.333333
137                     Yorkshire Terrier       15          345      0.625000


# 4. For each (primary) breed, determine the earliest and the latest posted timestamp.

In [84]:
print(dogs_clean['posted'].dtypes)

object

In [85]:
dogs_clean['posted'] = pd.to_datetime(dogs_clean['posted'])

In [86]:
dogs_clean.dropna(subset=['posted'], inplace=True)
len(dogs_clean)

58180

In [87]:
print(dogs_clean['posted'].dtypes)

datetime64[ns, UTC]

In [88]:
earliest_timestamps = dogs_clean.groupby(by='breed_primary')['posted'].min().reset_index()
latest_timestamps = dogs_clean.groupby(by='breed_primary')['posted'].max().reset_index()

In [89]:
timestamps = pd.merge(earliest_timestamps, latest_timestamps, on="breed_primary").rename(columns={'posted_x':'earliest_timestamp', 'posted_y':'latest_timestamp'})
timestamps

,breed_primary,earliest_timestamp,latest_timestamp
0,Affenpinscher,2012-03-08 10:27:33+00:00,2019-09-14 10:10:51+00:00
1,Afghan Hound,2017-06-29 23:28:51+00:00,2019-07-27 00:38:48+00:00
2,Airedale Terrier,2014-06-13 12:59:36+00:00,2019-09-19 18:40:39+00:00
3,Akbash,2019-07-21 00:35:59+00:00,2019-08-23 17:11:04+00:00
4,Akita,2012-03-03 09:31:08+00:00,2019-09-20 15:19:57+00:00
5,Alaskan Malamute,2015-02-24 13:18:06+00:00,2019-09-20 15:19:51+00:00
6,American Bulldog,2009-03-11 00:00:00+00:00,2019-09-20 16:06:25+00:00
7,American Eskimo Dog,2017-04-27 18:39:24+00:00,2019-09-20 00:15:25+00:00
8,American Foxhound,2019-02-06 03:06:20+00:00,2019-09-18 22:21:39+00:00
9,American Hairless Terrier,2013-07-03 10:05:41+00:00,2019-09-17 20:06:53+00:00
10,American Staffordshire Terrier,2007-10-07 00:00:00+00:00,2019-09-20 16:37:59+00:00
11,Anatolian Shepherd,2014-03-12 08:36:07+00:00,2019-09-20 13:36:10+00:00
12,Australian Cattle Dog / Blue Heeler,2010-11-13 00:00:00+00:00,2019-09-20 16:31:13+00:00
13,Australian Kelpie,2011-07-31 07:32:36+00:00,2019-09-20 02:18:47+00:00
14,Australian Shepherd,2008-11-06 00:00:00+00:00,2019-09-20 17:20:29+00:00
15,Australian Terrier,2017-02-17 16:34:02+00:00,2019-09-18 22:30:47+00:00
16,Basenji,2009-10-15 00:00:00+00:00,2019-09-19 22:16:30+00:00
17,Basset Hound,2011-11-11 13:27:32+00:00,2019-09-20 10:25:10+00:00
18,Beagle,2003-05-18 00:00:00+00:00,2019-09-20 16:35:18+00:00
19,Bearded Collie,2018-06-08 06:57:28+00:00,2019-09-16 10:09:34+00:00
20,Beauceron,2019-09-05 18:52:36+00:00,2019-09-20 03:27:37+00:00
21,Belgian Shepherd / Laekenois,2019-09-03 22:01:52+00:00,2019-09-03 22:01:52+00:00
22,Belgian Shepherd / Malinois,2014-04-05 20:03:13+00:00,2019-09-20 06:05:22+00:00
23,Belgian Shepherd / Sheepdog,2019-07-19 14:20:19+00:00,2019-09-17 20:34:08+00:00
24,Belgian Shepherd / Tervuren,2017-03-31 21:34:30+00:00,2019-09-02 15:58:23+00:00
25,Bernese Mountain Dog,2018-06-22 20:14:31+00:00,2019-09-20 14:30:30+00:00
26,Bichon Frise,2018-04-08 13:02:19+00:00,2019-09-19 02:28:13+00:00
27,Black Labrador Retriever,2008-06-25 00:00:00+00:00,2019-09-20 06:31:10+00:00
28,Black Mouth Cur,2009-10-15 00:00:00+00:00,2019-09-20 16:14:51+00:00
29,Black and Tan Coonhound,2013-07-29 01:49:30+00:00,2019-09-19 20:17:24+00:00
30,Bloodhound,2009-07-31 00:00:00+00:00,2019-09-18 14:49:41+00:00
31,Blue Lacy,2018-08-21 22:02:49+00:00,2019-09-20 13:19:51+00:00
32,Bluetick Coonhound,2010-03-18 00:00:00+00:00,2019-09-20 16:29:04+00:00
33,Boerboel,2016-11-06 21:22:40+00:00,2019-09-18 02:32:39+00:00
34,Bolognese,2019-09-14 21:06:30+00:00,2019-09-14 21:06:30+00:00
35,Border Collie,2008-02-08 00:00:00+00:00,2019-09-20 16:44:30+00:00
36,Border Terrier,2015-02-08 15:37:13+00:00,2019-09-20 03:21:30+00:00
37,Borzoi,2019-05-06 20:46:28+00:00,2019-09-18 20:06:58+00:00
38,Boston Terrier,2009-03-23 00:00:00+00:00,2019-09-20 10:02:48+00:00
39,Bouvier des Flandres,2019-09-20 09:54:21+00:00,2019-09-20 09:54:21+00:00
40,Boxer,2005-05-30 00:00:00+00:00,2019-09-20 16:06:38+00:00
41,Boykin Spaniel,2019-09-16 20:11:19+00:00,2019-09-16 20:11:19+00:00
42,Briard,2019-05-27 20:55:54+00:00,2019-05-27 20:55:54+00:00
43,Brittany Spaniel,2012-07-30 12:48:04+00:00,2019-09-19 13:07:03+00:00
44,Brussels Griffon,2015-07-11 01:29:10+00:00,2019-09-20 13:19:46+00:00
45,Bull Terrier,2011-12-02 18:47:41+00:00,2019-09-20 15:06:16+00:00
46,Bullmastiff,2015-05-26 00:21:37+00:00,2019-09-20 16:19:55+00:00
47,Cairn Terrier,2010-07-07 00:00:00+00:00,2019-09-20 10:07:25+00:00
48,Canaan Dog,2015-05-11 12:05:18+00:00,2019-09-17 23:11:56+00:00
49,Cane Corso,2015-11-02 18:23:55+00:00,2019-09-20 15:30:52+00:00
50,Cardigan Welsh Corgi,2018-09-24 02:10:03+00:00,2019-09-20 01:18:36+00:00
51,Carolina Dog,2009-04-16 00:00:00+00:00,2019-09-19 21:06:44+00:00
52,Catahoula Leopard Dog,2010-07-05 00:00:00+00:00,2019-09-20 16:19:36+00:00
53,Cattle Dog,2009-04-16 00:00:00+00:00,2019-09-20 16:28:05+00:00
54,Caucasian Sheepdog / Caucasian Ovtcharka,2019-01-05 16:55:30+00:00,2019-09-04 14:48:19+00:00
55,Cavalier King Charles Spaniel,2015-03-19 12:29:00+00:00,2019-09-19 21:59:10+00:00
56,Chesapeake Bay Retriever,2014-09-12 09:51:10+00:00,2019-09-20 00:18:28+00:00
57,Chihuahua,2007-11-11 00:00:00+00:00,2019-09-20 17:20:30+00:00
58,Chinese Crested Dog,2015-06-22 09:18:28+00:00,2019-09-19 20:06:20+00:00
59,Chinese Foo Dog,2019-09-13 10:30:17+00:00,2019-09-13 10:30:17+00:00
60,Chinook,2019-01-31 02:12:18+00:00,2019-01-31 02:12:18+00:00
61,Chocolate Labrador Retriever,2005-10-08 00:00:00+00:00,2019-09-20 07:24:20+00:00
62,Chow Chow,2011-09-18 13:42:46+00:00,2019-09-19 17:06:38+00:00
63,Clumber Spaniel,2019-06-19 20:40:51+00:00,2019-09-16 21:04:14+00:00
64,Cockapoo,2018-09-14 10:28:44+00:00,2019-09-20 14:29:47+00:00
65,Cocker Spaniel,2007-06-04 00:00:00+00:00,2019-09-20 17:20:30+00:00
66,Collie,2010-08-05 00:00:00+00:00,2019-09-20 15:20:02+00:00
67,Coonhound,2010-07-21 00:00:00+00:00,2019-09-20 10:02:48+00:00
68,Corgi,2009-10-06 00:00:00+00:00,2019-09-20 08:21:47+00:00
69,Coton de Tulear,2019-05-12 19:24:46+00:00,2019-07-08 14:34:25+00:00
70,Curly-Coated Retriever,2017-01-13 05:08:23+00:00,2019-05-23 12:33:12+00:00
71,Dachshund,2010-07-16 00:00:00+00:00,2019-09-20 16:28:40+00:00
72,Dalmatian,2004-02-29 00:00:00+00:00,2019-09-19 23:45:43+00:00
73,Doberman Pinscher,2009-06-16 00:00:00+00:00,2019-09-20 16:06:34+00:00
74,Dogo Argentino,2016-05-11 15:55:04+00:00,2019-09-20 03:50:26+00:00
75,Dogue de Bordeaux,2018-10-09 16:16:14+00:00,2019-09-14 10:40:49+00:00
76,Dutch Shepherd,2011-09-28 19:29:38+00:00,2019-09-20 10:13:39+00:00
77,English Bulldog,2012-11-20 13:48:45+00:00,2019-09-19 23:47:36+00:00
78,English Cocker Spaniel,2019-07-30 07:18:10+00:00,2019-09-18 22:57:37+00:00
79,English Coonhound,2014-02-11 21:42:31+00:00,2019-09-20 10:02:48+00:00
80,English Foxhound,2019-06-16 21:07:46+00:00,2019-09-20 03:45:02+00:00
81,English Pointer,2015-06-10 20:16:51+00:00,2019-09-18 10:53:58+00:00
82,English Setter,2018-11-24 15:30:58+00:00,2019-09-18 18:14:12+00:00
83,English Shepherd,2015-10-23 03:26:28+00:00,2019-09-19 14:21:17+00:00
84,English Springer Spaniel,2017-05-18 02:21:44+00:00,2019-09-17 14:10:06+00:00
85,Entlebucher,2018-05-28 16:19:05+00:00,2019-09-08 16:55:53+00:00
86,Eskimo Dog,2018-08-25 02:59:41+00:00,2019-09-13 00:02:03+00:00
87,Feist,2010-09-07 00:00:00+00:00,2019-09-20 05:00:07+00:00
88,Field Spaniel,2019-09-20 00:02:45+00:00,2019-09-20 00:02:45+00:00
89,Fila Brasileiro,2018-11-26 22:44:11+00:00,2018-11-26 22:44:11+00:00
90,Finnish Spitz,2019-04-22 00:39:42+00:00,2019-09-03 01:34:33+00:00
91,Flat-Coated Retriever,2018-08-03 15:41:00+00:00,2019-09-20 02:12:27+00:00
92,Fox Terrier,2017-04-06 20:17:45+00:00,2019-09-20 07:22:45+00:00
93,Foxhound,2008-02-13 00:00:00+00:00,2019-09-19 23:19:03+00:00
94,French Bulldog,2014-10-27 14:57:14+00:00,2019-09-20 15:47:29+00:00
95,Galgo Spanish Greyhound,2019-03-03 23:27:30+00:00,2019-09-14 16:01:21+00:00
96,German Pinscher,2013-10-11 17:07:51+00:00,2019-09-16 21:48:08+00:00
97,German Shepherd Dog,2006-10-05 00:00:00+00:00,2019-09-20 17:20:30+00:00
98,German Shorthaired Pointer,2008-09-10 00:00:00+00:00,2019-09-20 12:42:02+00:00
99,German Spitz,2019-07-27 00:45:47+00:00,2019-07-27 00:45:47+00:00
100,German Wirehaired Pointer,2017-03-27 16:17:11+00:00,2019-09-19 21:22:56+00:00
101,Giant Schnauzer,2018-12-03 20:38:42+00:00,2019-09-18 00:00:53+00:00
102,Golden Retriever,2007-02-13 00:00:00+00:00,2019-09-20 13:20:34+00:00
103,Gordon Setter,2019-07-31 17:27:03+00:00,2019-08-21 21:36:26+00:00
104,Great Dane,2008-09-08 00:00:00+00:00,2019-09-20 16:23:52+00:00
105,Great Pyrenees,2008-05-31 00:00:00+00:00,2019-09-20 13:14:12+00:00
106,Greater Swiss Mountain Dog,2018-07-30 12:24:59+00:00,2019-09-16 16:38:22+00:00
107,Greyhound,2005-09-26 00:00:00+00:00,2019-09-19 12:17:37+00:00
108,Harrier,2016-03-07 07:27:51+00:00,2019-09-18 20:14:25+00:00
109,Havanese,2016-09-14 07:00:30+00:00,2019-09-19 22:28:32+00:00
110,Hound,2009-11-18 00:00:00+00:00,2019-09-20 16:41:07+00:00
111,Husky,2008-06-11 00:00:00+00:00,2019-09-20 15:19:42+00:00
112,Ibizan Hound,2015-05-15 13:00:01+00:00,2019-09-19 21:38:07+00:00
113,Irish Setter,2019-06-05 15:42:38+00:00,2019-09-20 10:39:40+00:00
114,Irish Terrier,2016-05-03 12:24:11+00:00,2019-09-19 21:06:13+00:00
115,Irish Wolfhound,2014-02-10 08:51:37+00:00,2019-09-19 23:06:53+00:00
116,Italian Greyhound,2013-04-04 13:23:29+00:00,2019-09-20 06:42:30+00:00
117,Jack Russell Terrier,2011-01-03 11:06:01+00:00,2019-09-20 16:01:01+00:00
118,Japanese Chin,2010-05-04 00:00:00+00:00,2019-09-18 06:31:08+00:00
119,Jindo,2016-01-20 20:10:40+00:00,2019-09-19 02:24:45+00:00
120,Kai Dog,2019-06-13 17:02:37+00:00,2019-06-13 17:02:37+00:00
121,Keeshond,2017-06-11 18:13:23+00:00,2019-09-19 00:59:23+00:00
122,Kuvasz,2019-09-07 17:53:45+00:00,2019-09-07 17:53:45+00:00
123,Kyi Leo,2019-08-23 00:02:39+00:00,2019-09-10 18:37:48+00:00
124,Labrador Retriever,2006-12-28 00:00:00+00:00,2019-09-20 17:32:30+00:00
125,Lakeland Terrier,2019-09-01 04:44:34+00:00,2019-09-06 02:41:55+00:00
126,Lancashire Heeler,2019-04-05 14:59:30+00:00,2019-07-17 04:13:04+00:00
127,Leonberger,2017-07-05 08:06:13+00:00,2017-07-05 08:06:13+00:00
128,Lhasa Apso,2010-09-02 00:00:00+00:00,2019-09-20 15:15:40+00:00
129,Maltese,2013-05-11 13:50:59+00:00,2019-09-20 15:19:38+00:00
130,Manchester Terrier,2017-04-03 21:10:56+00:00,2019-09-20 16:25:02+00:00
131,Maremma Sheepdog,2016-01-05 01:32:55+00:00,2019-07-23 20:24:52+00:00
132,Mastiff,2010-03-13 00:00:00+00:00,2019-09-20 15:29:25+00:00
133,McNab,2015-06-29 19:54:12+00:00,2019-09-14 06:31:23+00:00
134,Miniature Dachshund,2018-11-04 21:45:30+00:00,2019-07-30 16:02:39+00:00
135,Miniature Pinscher,2006-04-20 00:00:00+00:00,2019-09-20 17:20:30+00:00
136,Miniature Poodle,2018-12-09 22:50:49+00:00,2019-09-19 20:26:17+00:00
137,Miniature Schnauzer,2018-01-16 04:17:54+00:00,2019-09-19 23:30:15+00:00
138,Mixed Breed,2014-10-27 14:45:16+00:00,2019-09-20 16:31:14+00:00
139,Mountain Cur,2012-08-30 21:58:53+00:00,2019-09-20 13:06:20+00:00
140,Mountain Dog,2019-03-17 05:23:31+00:00,2019-09-17 06:00:26+00:00
141,Neapolitan Mastiff,2016-10-10 22:14:24+00:00,2019-09-18 19:24:06+00:00
142,Newfoundland Dog,2017-08-12 23:43:07+00:00,2019-09-19 21:17:31+00:00
143,Norfolk Terrier,2017-12-08 23:59:12+00:00,2019-09-18 23:39:59+00:00
144,Norwegian Buhund,2019-07-04 16:54:50+00:00,2019-08-02 21:17:01+00:00
145,Norwegian Elkhound,2010-03-18 00:00:00+00:00,2019-09-16 20:08:56+00:00
146,Norwich Terrier,2019-04-11 01:03:56+00:00,2019-09-20 15:19:38+00:00
147,Nova Scotia Duck Tolling Retriever,2019-04-17 02:02:39+00:00,2019-09-18 03:16:54+00:00
148,Old English Sheepdog,2019-08-22 14:39:21+00:00,2019-08-22 14:39:21+00:00
149,Otterhound,2008-03-14 00:00:00+00:00,2019-09-12 10:25:36+00:00
150,Papillon,2014-06-14 13:33:41+00:00,2019-09-20 17:20:28+00:00
151,Parson Russell Terrier,2006-01-31 00:00:00+00:00,2019-09-20 15:19:43+00:00
152,Patterdale Terrier / Fell Terrier,2019-03-23 02:04:24+00:00,2019-09-20 13:35:51+00:00
153,Pekingese,2009-02-21 00:00:00+00:00,2019-09-20 16:15:55+00:00
154,Pembroke Welsh Corgi,2019-06-18 21:24:56+00:00,2019-09-15 16:38:56+00:00
155,Petit Basset Griffon Vendeen,2017-10-18 15:53:16+00:00,2019-09-17 23:11:56+00:00
156,Pharaoh Hound,2018-03-06 00:40:26+00:00,2019-09-17 23:12:05+00:00
157,Pit Bull Terrier,2007-01-11 00:00:00+00:00,2019-09-20 17:20:30+00:00
158,Plott Hound,2011-01-01 22:33:18+00:00,2019-09-20 16:22:41+00:00
159,Pointer,2010-04-05 00:00:00+00:00,2019-09-20 14:28:24+00:00
160,Pomeranian,2013-01-29 09:32:11+00:00,2019-09-20 14:47:03+00:00
161,Poodle,2011-02-03 16:25:46+00:00,2019-09-20 17:20:29+00:00
162,Portuguese Podengo,2019-01-31 18:03:01+00:00,2019-09-15 08:57:36+00:00
163,Presa Canario,2016-10-08 18:20:52+00:00,2019-09-19 14:30:13+00:00
164,Pug,2010-10-09 00:00:00+00:00,2019-09-20 09:25:08+00:00
165,Rat Terrier,2005-10-03 00:00:00+00:00,2019-09-20 16:31:13+00:00
166,Redbone Coonhound,2011-09-13 20:40:00+00:00,2019-09-20 12:19:33+00:00
167,Retriever,2011-01-01 13:33:56+00:00,2019-09-20 16:07:02+00:00
168,Rhodesian Ridgeback,2010-07-23 00:00:00+00:00,2019-09-20 13:19:51+00:00
169,Rottweiler,2009-11-19 00:00:00+00:00,2019-09-20 16:00:27+00:00
170,Rough Collie,2017-12-05 12:07:40+00:00,2019-07-09 04:04:40+00:00
171,Saint Bernard,2012-06-07 16:20:39+00:00,2019-09-19 17:41:48+00:00
172,Saluki,2018-02-14 22:10:07+00:00,2019-09-20 02:45:10+00:00
173,Samoyed,2019-03-16 18:06:37+00:00,2019-09-11 10:15:07+00:00
174,Schipperke,2018-01-22 00:06:07+00:00,2019-09-19 18:40:07+00:00
175,Schnauzer,2011-10-22 16:51:30+00:00,2019-09-20 17:20:20+00:00
176,Scottish Terrier,2015-02-02 15:48:08+00:00,2019-09-12 22:54:07+00:00
177,Setter,2017-04-17 15:41:41+00:00,2019-09-18 00:00:57+00:00
178,Shar-Pei,2009-01-13 00:00:00+00:00,2019-09-20 15:19:57+00:00
179,Sheep Dog,2019-03-20 16:26:48+00:00,2019-09-19 13:53:45+00:00
180,Shepherd,2006-02-23 00:00:00+00:00,2019-09-20 17:16:14+00:00
181,Shetland Sheepdog / Sheltie,2016-07-10 09:37:04+00:00,2019-09-20 06:30:51+00:00
182,Shiba Inu,2016-02-22 23:53:06+00:00,2019-09-20 10:13:36+00:00
183,Shih Tzu,2008-09-25 00:00:00+00:00,2019-09-20 15:09:34+00:00
184,Siberian Husky,2011-01-14 21:58:52+00:00,2019-09-20 15:19:51+00:00
185,Silky Terrier,2018-07-17 23:01:48+00:00,2019-09-20 04:00:38+00:00
186,Skye Terrier,2019-01-18 19:51:21+00:00,2019-01-18 19:51:21+00:00
187,Smooth Collie,2019-01-16 15:10:45+00:00,2019-09-18 06:32:36+00:00
188,Smooth Fox Terrier,2011-11-15 04:00:50+00:00,2019-09-05 00:02:46+00:00
189,Spaniel,2007-06-18 00:00:00+00:00,2019-09-20 13:38:51+00:00
190,Spinone Italiano,2019-09-13 19:49:38+00:00,2019-09-13 19:49:38+00:00
191,Spitz,2011-03-28 20:15:41+00:00,2019-09-20 00:04:59+00:00
192,Staffordshire Bull Terrier,2008-03-20 00:00:00+00:00,2019-09-20 16:18:04+00:00
193,Standard Poodle,2018-07-17 23:01:48+00:00,2019-09-20 12:41:58+00:00
194,Standard Schnauzer,2018-10-08 02:38:55+00:00,2019-09-18 18:33:04+00:00
195,Terrier,2006-10-17 00:00:00+00:00,2019-09-20 16:13:16+00:00
196,Thai Ridgeback,2019-04-10 16:42:47+00:00,2019-05-11 12:51:57+00:00
197,Tibetan Mastiff,2018-10-06 22:09:26+00:00,2019-09-15 03:40:09+00:00
198,Tibetan Spaniel,2012-10-04 16:24:58+00:00,2019-09-18 19:31:48+00:00
199,Tibetan Terrier,2019-08-18 17:03:34+00:00,2019-09-12 04:16:47+00:00
200,Tosa Inu,2019-09-04 00:48:24+00:00,2019-09-04 00:48:24+00:00
201,Toy Fox Terrier,2013-12-12 20:05:04+00:00,2019-09-15 12:16:37+00:00
202,Treeing Walker Coonhound,2009-03-03 00:00:00+00:00,2019-09-20 16:15:54+00:00
203,Vizsla,2016-06-13 22:14:52+00:00,2019-09-19 02:15:18+00:00
204,Weimaraner,2012-05-24 12:32:25+00:00,2019-09-20 16:07:01+00:00
205,West Highland White Terrier / Westie,2008-03-31 00:00:00+00:00,2019-09-15 18:38:43+00:00
206,Wheaten Terrier,2018-06-25 19:37:22+00:00,2019-09-19 01:15:15+00:00
207,Whippet,2017-01-27 17:25:06+00:00,2019-09-18 20:28:42+00:00
208,White German Shepherd,2016-09-03 00:21:06+00:00,2019-09-11 14:55:05+00:00
209,Wire Fox Terrier,2013-12-11 17:08:03+00:00,2019-09-16 18:36:29+00:00
210,Wirehaired Dachshund,2019-04-08 23:12:04+00:00,2019-09-17 22:15:16+00:00
211,Wirehaired Pointing Griffon,2016-06-29 20:03:55+00:00,2016-06-29 20:03:55+00:00
212,Wirehaired Terrier,2012-11-27 14:07:54+00:00,2019-09-19 22:52:45+00:00
213,Xoloitzcuintli / Mexican Hairless,2007-02-01 00:00:00+00:00,2019-09-08 11:15:54+00:00
214,Yellow Labrador Retriever,2010-05-31 00:00:00+00:00,2019-09-20 06:30:27+00:00
215,Yorkshire Terrier,2012-02-04 17:14:52+00:00,2019-09-20 16:56:38+00:00

In [129]:
min(dogs_clean['posted'])

Timestamp('2003-05-18 00:00:00+0000', tz='UTC')

In [130]:
max(dogs_clean['posted'])

Timestamp('2019-09-20 17:32:30+0000', tz='UTC')

# 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

In [94]:
sex_counts = dogs.groupby(by='contact_state')['sex'].value_counts().unstack()
sex_counts.head()

sex            Female  Male  Unknown
contact_state
12220             1.0   2.0      NaN
12477             1.0   1.0      NaN
17325             1.0   1.0      NaN
19053             1.0   NaN      NaN
19063             1.0   NaN      NaN

In [95]:
sex_counts['sex_imbalance'] = sex_counts['Male'] - sex_counts['Female']
sex_counts.head()

sex            Female  Male  Unknown  sex_imbalance
contact_state
12220             1.0   2.0      NaN            1.0
12477             1.0   1.0      NaN            0.0
17325             1.0   1.0      NaN            0.0
19053             1.0   NaN      NaN            NaN
19063             1.0   NaN      NaN            NaN

In [115]:
max_imbalance_state = sex_counts['sex_imbalance'].idxmax()
max_imbalance_state_name = states.loc[states['abbreviation'] == max_imbalance_state].values[0][0]
print(f'The state with the largest sex imbalance is: {max_imbalance_state_name}')

The state with the largest sex imbalance is: Ohio

# 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

In [142]:
mean_stay_cost = dogs_clean.groupby(['age', 'size'], as_index=False)[['age','size','stay_duration','stay_cost']].mean(['stay_duration','stay_cost'])

In [143]:
mean_stay_cost['age'] = pd.Categorical(mean_stay_cost['age'], 
                                       categories=['Baby', 'Young', 'Adult', 'Senior'],
                                       ordered=True
                                      )

mean_stay_cost['size'] = pd.Categorical(mean_stay_cost['size'], 
                                        categories = ['Small', 'Medium', 'Large', 'Extra Large'],
                                        ordered=True
                                       )

In [144]:
mean_stay_cost.rename(columns={"stay_duration": "mean_stay_duration", "stay_cost": "mean_stay_cost"}, inplace=True)

In [145]:
mean_stay_cost.groupby(by=['age', 'size'])[['mean_stay_duration', 'mean_stay_cost']].mean()

                    mean_stay_duration  mean_stay_cost
age    size
Baby   Small                 89.958291      239.083810
       Medium                89.577668      237.108131
       Large                 89.701564      238.698827
       Extra Large           87.032967      237.180879
Young  Small                 89.814275      241.540069
       Medium                89.515123      239.304603
       Large                 90.104206      238.149506
       Extra Large           90.586345      245.835582
Adult  Small                 89.407479      238.974838
       Medium                89.421036      238.258977
       Large                 89.531943      238.661141
       Extra Large           89.015414      232.591561
Senior Small                 89.073626      238.282286
       Medium                89.810052      238.514615
       Large                 88.984298      237.507364
       Extra Large           88.861111      235.232361

# 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

In [153]:
dog_travel.head()

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Adam,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN

In [154]:
n_viaggi = dog_travel.groupby('id').count()
n_viaggi.rename(columns={'index' : 'n_travels'}, inplace=True)
n_viaggi = n_viaggi[['n_travels']]
n_viaggi.head()

          n_travels
id
8619716           2
9317153           1
12134429          1
14355301          1
16313278          1

In [155]:
n_viaggi = n_viaggi[n_viaggi['n_travels'] >= 3]
n_viaggi.head()

          n_travels
id
16657005          4
20905974          5
24894870          4
24894894          4
33218331          7

In [156]:
atleast_3 = pd.merge(n_viaggi, dogs_clean, on='id')
atleast_3[['id', 'n_travels', 'breed_primary']].head()

         id  n_travels     breed_primary
0  16657005          4  Pit Bull Terrier
1  20905974          5         Chow Chow
2  24894870          4             Hound
3  24894894          4             Hound
4  33218331          7  Alaskan Malamute

In [157]:
len(atleast_3)

563

# 8. Fix the travels table so that the correct state is computed from the manual and the found fields. If manual is not missing, then it overrides what is stored in found.

???????????????????????????????????????????????????????????????????????????????????
???????????????????????????????????????????????????????????????????????????????????
???????????????????????????????????????????????????????????????????????????????????
Controllare la colonna Remove 
???????????????????????????????????????????????????????????????????????????????????
???????????????????????????????????????????????????????????????????????????????????
???????????????????????????????????????????????????????????????????????????????????

In [167]:
dog_travel.head()

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Bahamas,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Maryland,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN

In [168]:
def correct_state(found, manual):
    if pd.isna(manual):
        return found
    else:
        return manual

In [169]:
#pd.isna(dog_travel['manual'])

In [170]:
lista = dog_travel.apply(lambda row: correct_state(row['found'], row['manual']), axis=1)
lista

0          Arkansas
1           Bahamas
2          Maryland
3           Adaptil
4       Afghanistan
           ...
6189             WV
6190        Wyoming
6191         Yazmin
6192           Ohio
6193           Zazu
Length: 6194, dtype: object

In [171]:
dog_travel['found'] = lista
dog_travel.head()

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Bahamas,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Maryland,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN

# 9. For each state, compute the ratio between the number of travels and the population.

In [172]:
dog_travel.head()

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Bahamas,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Maryland,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN

In [173]:
NST = pd.merge(NST_EST, states, on='state')
NST[['abbreviation', 'state', 'population']].head()

  abbreviation       state  population
0           AL     Alabama     5024279
1           AK      Alaska      733391
2           AZ     Arizona     7151502
3           AR    Arkansas     3011524
4           CA  California    39538223

'17325' correspond to the zip code of Pennsylvania (PA)

In [174]:
# '17325' correspond to the zip code of Pennsylvania (PA)
dog_travel['contact_state'].replace('17325', 'PA', inplace=True)

In [175]:
travels_count = dog_travel.groupby('contact_state').size().reset_index(name='travels')
travels_count.head()

  contact_state  travels
0            AL       75
1            AR       10
2            AZ       70
3            CA       28
4            CO      103

In [176]:
state_ratio = pd.merge(NST, travels_count, left_on='abbreviation', right_on='contact_state')[['contact_state','population', 'travels']]
state_ratio.head()

  contact_state  population  travels
0            AL     5024279       75
1            AZ     7151502       70
2            AR     3011524       10
3            CA    39538223       28
4            CO     5773714      103

In [177]:
state_ratio['ratio'] = state_ratio['travels'] / state_ratio['population']
state_ratio.rename(columns = {'contact_state' : 'state'})
state_ratio.head()

  contact_state  population  travels         ratio
0            AL     5024279       75  1.492751e-05
1            AZ     7151502       70  9.788154e-06
2            AR     3011524       10  3.320578e-06
3            CA    39538223       28  7.081755e-07
4            CO     5773714      103  1.783947e-05

# 10. For each dog, compute the number of days from the posted day to the day of last access.

In [187]:
print(dogs_clean['posted'].dtypes)

object

In [188]:
print(dogs_clean['accessed'].dtypes)

object

In [189]:
dogs_clean['accessed'] = pd.to_datetime(dogs_clean['accessed'], errors = 'coerce')

In [190]:
dogs.dropna(subset=['accessed'], inplace=True)
len(dogs_clean)

58180

In [191]:
print(dogs_clean['posted'].dtypes)

object

In [192]:
print(dogs_clean['accessed'].dtypes)

datetime64[ns]

In [193]:
dogs_clean['posted'] = dogs_clean['posted'].dt.date

AttributeError: Can only use .dt accessor with datetimelike values

In [194]:
dogs_clean['accessed'] = dogs_clean['accessed'].dt.date

In [195]:
dogs_clean['days_between'] = (dogs_clean['accessed'] - dogs_clean['posted']).dt.days

In [196]:
days_between = dogs_clean[['id', 'posted', 'accessed', 'days_between']]
days_between

             id      posted    accessed  days_between
0      46042150  2019-09-20  2019-09-20             0
1      46042002  2019-09-20  2019-09-20             0
2      46040898  2019-09-20  2019-09-20             0
3      46039877  2019-09-20  2019-09-20             0
4      46039306  2019-09-20  2019-09-20             0
...         ...         ...         ...           ...
58175  44605893  2019-05-03  2019-09-20           140
58176  44457061  2019-04-13  2019-09-20           160
58177  42865848  2018-09-27  2019-09-20           358
58178  42734734  2018-09-12  2019-09-20           373
58179  42663515  2018-09-03  2019-09-20           382

[58180 rows x 4 columns]

# 11. Partition the dogs according to the number of weeks from the posted day to the day of last access.

In [197]:
dogs_clean['weeks_between'] = (dogs_clean['accessed'] - dogs_clean['posted']).dt.days/7
dogs_clean['weeks_between'] = dogs_clean['weeks_between'].round(2)

In [198]:
dogs_clean['weeks_range'] = pd.cut(dogs_clean['weeks_between'], bins=[-np.inf, 1, 4, 8, 12, 16, 24, 25, 52, np.inf], labels=['< 1 week', '1-4 weeks', '4-8 weeks', '8-12 weeks', '12-16 weeks', '16 weeks - 6 months', '> 6 months', '1 year', '> 1 year'])

In [199]:
weeks_between = dogs_clean[['id', 'posted', 'accessed', 'days_between', 'weeks_between', 'weeks_range']]
weeks_between

,id,posted,accessed,days_between,weeks_between,weeks_range
0,46042150,2019-09-20,2019-09-20,0,0.00,< 1 week
1,46042002,2019-09-20,2019-09-20,0,0.00,< 1 week
2,46040898,2019-09-20,2019-09-20,0,0.00,< 1 week
3,46039877,2019-09-20,2019-09-20,0,0.00,< 1 week
4,46039306,2019-09-20,2019-09-20,0,0.00,< 1 week
...,...,...,...,...,...,...
58175,44605893,2019-05-03,2019-09-20,140,20.00,16 weeks - 6 months
58176,44457061,2019-04-13,2019-09-20,160,22.86,16 weeks - 6 months
58177,42865848,2018-09-27,2019-09-20,358,51.14,1 year
58178,42734734,2018-09-12,2019-09-20,373,53.29,> 1 year
58179,42663515,2018-09-03,2019-09-20,382,54.57,> 1 year

# 12. Find for duplicates in the dogs dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.

In [216]:
# Drop any rows with missing values
dogs_sub = dogs_clean.dropna(subset=['breed_primary', 'description', 'sex'])
#dogs_clean

In [217]:
# Preprocess the description field
def preprocess_description(desc):
    if pd.isna(desc):
        return []
    desc = re.sub(r'\W+', ' ', desc.lower())
    return desc.split()

^ this function takes a string as input and returns a list of preprocessed words. The preprocessing steps include converting the string to lowercase, removing any non-alphanumeric characters, and splitting the string into a list of words.

In [218]:
# Define a function to calculate the percentage of shared words between two descriptions
def shared_word_percentage(desc1, desc2):
    set1 = set(desc1)
    set2 = set(desc2)
    if len(set1) == 0 or len(set2) == 0:
        return 0.0
    intersection = set1.intersection(set2)
    union = set1.union(set2)
    return len(intersection) / len(union)

^ this function is defined to calculate the percentage of shared words between two descriptions. This is done by first converting the descriptions to sets of words, and then calculating the intersection and union of the sets.

In [219]:
# Preprocess the descriptions using a vectorized function
dogs_sub['description_processed'] = dogs_sub['description'].apply(preprocess_description)

^ the 'description_processed' column in the dogs_clean DataFrame is created by applying the 'preprocess_description' function to the 'description' column using the 'apply()' method.

In [220]:
# Create a dictionary to store the processed descriptions and their corresponding IDs
desc_dict = dict(zip(dogs_sub['id'], dogs_sub['description_processed']))
#desc_dict

^ a dictionary called 'desc_dict' is created to store the processed descriptions and their corresponding IDs.

In [221]:
# Use a hash table to store the processed descriptions and their corresponding IDs
desc_hash = {}
for i, desc in enumerate(dogs_sub['description_processed']):
    desc_hash[hash(' '.join(desc))] = desc_hash.get(hash(' '.join(desc)), []) + [dogs_sub.iloc[i]['id']]

^ a hash table called 'desc_hash' is created to store the processed descriptions and their corresponding IDs. The hash table is constructed by iterating over the 'description_processed' column in the dogs_sub DataFrame, and using the 'hash()' function to generate a hash value for each description. The hash value is used as a key in the desc_hash dictionary, and the corresponding ID is added to a list of IDs associated with that hash value.

In [222]:
# Find the duplicate pairs using the hash table
duplicate_pairs = []
for i, desc in enumerate(dogs_sub['description_processed']):
    desc_hash[hash(' '.join(desc))].remove(dogs_sub.iloc[i]['id'])
    for j in desc_hash[hash(' '.join(desc))]:
        if dogs_sub.iloc[i]['breed_primary'] == dogs_sub[dogs_sub['id'] == j]['breed_primary'].values[0] and \
           dogs_sub.iloc[i]['breed_secondary'] == dogs_sub[dogs_sub['id'] == j]['breed_secondary'].values[0] and \
           dogs_sub.iloc[i]['sex'] == dogs_sub[dogs_sub['id'] == j]['sex'].values[0]:
            shared_words = shared_word_percentage(desc, desc_dict[j])
            if shared_words >= 0.9:
                duplicate_pairs.append((dogs_sub.iloc[i]['id'], j))
    desc_hash[hash(' '.join(desc))].append(dogs_sub.iloc[i]['id'])

^ a loop is used to iterate over the 'description_processed' column in the dogs_sub DataFrame. For each record, the ID is removed from the list of IDs associated with its hash value in the desc_hash dictionary. Then, a nested loop is used to compare the current record to all other records in the desc_hash dictionary with the same hash value. If the current record and another record have the same breeds and sex, and their shared word percentage is at least 90%, then they are considered a duplicate pair and their IDs are added to the duplicate_pairs list.

^^ execution time: ~ 1 minute

In [223]:
df_duplicate_pairs = pd.DataFrame(duplicate_pairs, columns=['id_1', 'id_2'])
df_duplicate_pairs

          id_1      id_2
0     45901985  45901991
1     45901985  45901992
2     45901985  45901994
3     45901985  45901995
4     45901985  45901993
...        ...       ...
1667  45788263  45752255
1668  45752255  45788263
1669  45301676  44696946
1670  44696946  45301676
1671  40924416  40924426

[1672 rows x 2 columns]

In [224]:
pd.set_option('display.max_colwidth', None)
pd.options.display.max_columns = 40

In [225]:
dogs_sub[dogs_sub['id'] == 44696946][['id', 'breed_primary', 'breed_secondary', 'sex', 'description']]

             id     breed_primary breed_secondary   sex        description
57893  44696946  Pit Bull Terrier           Hound  Male  Color:black/white

In [226]:
dogs_sub[dogs_sub['id'] == 45301676][['id', 'breed_primary', 'breed_secondary', 'sex', 'description']]

             id     breed_primary breed_secondary   sex        description
57779  45301676  Pit Bull Terrier           Hound  Male  Color:black/white

In [227]:
# Merge 'df_duplicate_pairs' with 'dogs' to populate it with the corresponding values
df_duplicate_pairs = pd.merge(df_duplicate_pairs, dogs, left_on='id_1', right_on='id')
df_duplicate_pairs = df_duplicate_pairs[['id_1', 'id_2', 'breed_primary', 'breed_secondary', 'sex', 'description']]
df_duplicate_pairs = pd.merge(df_duplicate_pairs, dogs, suffixes=['_1', '_2'], left_on='id_2', right_on='id')
df_duplicate_pairs = df_duplicate_pairs[['id_1', 'id_2', 'breed_primary_1', 'breed_primary_2', 'breed_secondary_1', 'breed_secondary_2', 'sex_1', 'sex_2', 'description_1', 'description_2']]

# Print the resulting DataFrame
df_duplicate_pairs

,id_1,id_2,breed_primary_1,breed_primary_2,breed_secondary_1,breed_secondary_2,sex_1,sex_2,description_1,description_2
0,45901985,45901991,Collie,Collie,Shepherd,Shepherd,Male,Male,On hold until 9/27 when second set of shots are given. $50 deposit can hold. Non-refundable deposit can be made by going to www.NevadaPaws.org and following the link,On hold until 9/27 when second set of shots are given. $50 deposit can hold. Non-refundable deposit can be made by going to www.NevadaPaws.org and following the link
1,45901992,45901991,Collie,Collie,Shepherd,Shepherd,Male,Male,On hold until 9/27 when second set of shots are given. $50 deposit can hold. Non-refundable deposit can be made by going to www.NevadaPaws.org and following the link,On hold until 9/27 when second set of shots are given. $50 deposit can hold. Non-refundable deposit can be made by going to www.NevadaPaws.org and following the link
2,45901994,45901991,Collie,Collie,Shepherd,Shepherd,Male,Male,On hold until 9/27 when second set of shots are given. $50 deposit can hold. Non-refundable deposit can be made by going to www.NevadaPaws.org and following the link,On hold until 9/27 when second set of shots are given. $50 deposit can hold. Non-refundable deposit can be made by going to www.NevadaPaws.org and following the link
3,45901995,45901991,Collie,Collie,Shepherd,Shepherd,Male,Male,On hold until 9/27 when second set of shots are given. $50 deposit can hold. Non-refundable deposit can be made by going to www.NevadaPaws.org and following the link,On hold until 9/27 when second set of shots are given. $50 deposit can hold. Non-refundable deposit can be made by going to www.NevadaPaws.org and following the link
4,45901993,45901991,Collie,Collie,Shepherd,Shepherd,Male,Male,On hold until 9/27 when second set of shots are given. $50 deposit can hold. Non-refundable deposit can be made by going to www.NevadaPaws.org and following the link,On hold until 9/27 when second set of shots are given. $50 deposit can hold. Non-refundable deposit can be made by going to www.NevadaPaws.org and following the link
...,...,...,...,...,...,...,...,...,...,...
1667,45788263,45752255,Pit Bull Terrier,Pit Bull Terrier,Hound,Hound,Female,Female,Color:red,Color:red
1668,45752255,45788263,Pit Bull Terrier,Pit Bull Terrier,Hound,Hound,Female,Female,Color:red,Color:red
1669,45301676,44696946,Pit Bull Terrier,Pit Bull Terrier,Hound,Hound,Male,Male,Color:black/white,Color:black/white
1670,44696946,45301676,Pit Bull Terrier,Pit Bull Terrier,Hound,Hound,Male,Male,Color:black/white,Color:black/white
1671,40924416,40924426,German Shepherd Dog,German Shepherd Dog,Labrador Retriever,Labrador Retriever,Male,Male,"My name is Rex and I WAS a chained dog. Yep, its every bit as bad as it sounds. Look into my soulful eyes and you can see how I dream to be part of a family like the little dogs who live at my house. You see, when I was a puppy, I lived inside, but as I grew, my caregiver decided to make me an outside dog. I didnt want to be an outside dog, but, for the first 4 years of my 5 years of living, that is the life I led. I am an optimist, and I have made the most of my life, giving kisses to those who visit me. I waggle and show them what a good boy I can be if only I can move into a home with a family. I dream of that every minute of every day. THAT DAY HAS ARRIVED. My rescue friends now have ownership of me and are looking for my perfect new home! They are seeking an experienced dog family who can be patient with me. I want to learn and I want to please, but I may not understand all of the rules at first. See, there are no rules on the chain except surviving. My wonderful fosters have taught me many things. I love to nap with them, and to go on long walks. They think I am a Shepherd/Lab mix and also tell me how handsome I am every day. I am also neutered, current on vaccines and HW/Lyme negative. I did not grow up with cats and really cannot live with them now. I like most dogs with proper introduction, and, while I woud never intentionally hurt anyone, it would be best for me to go to a home without small children. Please, if you are interested in me joining your family, write my friends at pals@psknet.com for an application.","My name is Rex and I WAS a chained dog. Yep, its every bit as bad as it sounds. Look into my soulful eyes and you can see how I dream to be part of a family like the little dogs who live at my house. You see, when I was a puppy, I lived inside, but as I grew, my caregiver decided to make me an outside dog. I didnt want to be an outside dog, but, for the first 4 years of my 5 years of living, that is the life I led. I am an optimist, and I have made the most of my life, giving kisses to those who visit me. I waggle and show them what a good boy I can be if only I can move into a home with a family. I dream of that every minute of every day. THAT DAY HAS ARRIVED. My rescue friends now have ownership of me and are looking for my perfect new home! They are seeking an experienced dog family who can be patient with me. I want to learn and I want to please, but I may not understand all of the rules at first. See, there are no rules on the chain except surviving. My wonderful fosters have taught me many things. I love to nap with them, and to go on long walks. They think I am a Shepherd/Lab mix and also tell me how handsome I am every day. I am also neutered, current on vaccines and HW/Lyme negative. I did not grow up with cats and really cannot live with them now. I like most dogs with proper introduction, and, while I woud never intentionally hurt anyone, it would be best for me to go to a home without small children. Please, if you are interested in me joining your family, write my friends at pals@psknet.com for an application."

THE END